<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Linkgenerationchrome</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9f99ea">  <td>19/07/17 19:06:48</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Linkgeneration20.linkgenerate()[pri:0, instance:com.editgenie.testcases.Linkgeneration20@39c0f4a]">linkgenerate</td> 
  <td>main@159259014</td>   <td></td> </tr>
<tr bgcolor="efef64">  <td>19/07/17 19:07:37</td>   <td>49829</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Linkgeneration21.linkgenerate()[pri:0, instance:com.editgenie.testcases.Linkgeneration21@1794d431]">linkgenerate</td> 
  <td>main@159259014</td>   <td></td> </tr>
<tr bgcolor="7fd0e6">  <td>19/07/17 19:08:27</td>   <td>99455</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Linkgeneration22.linkgenerate()[pri:0, instance:com.editgenie.testcases.Linkgeneration22@42e26948]">linkgenerate</td> 
  <td>main@159259014</td>   <td></td> </tr>
<tr bgcolor="c682b1">  <td>19/07/17 19:09:16</td>   <td>148854</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Linkgeneration1.linkgenerate()[pri:0, instance:com.editgenie.testcases.Linkgeneration1@57baeedf]">linkgenerate</td> 
  <td>main@159259014</td>   <td></td> </tr>
<tr bgcolor="6fa38a">  <td>19/07/17 19:10:08</td>   <td>200230</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Linkgeneration3.linkgenerate()[pri:0, instance:com.editgenie.testcases.Linkgeneration3@343f4d3d]">linkgenerate</td> 
  <td>main@159259014</td>   <td></td> </tr>
<tr bgcolor="a3ffec">  <td>19/07/17 19:11:00</td>   <td>251925</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Linkgeneration2.linkgenerate()[pri:0, instance:com.editgenie.testcases.Linkgeneration2@53b32d7]">linkgenerate</td> 
  <td>main@159259014</td>   <td></td> </tr>
<tr bgcolor="caeb9e">  <td>19/07/17 19:11:52</td>   <td>303986</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Linkgeneration5.linkgenerate()[pri:0, instance:com.editgenie.testcases.Linkgeneration5@5442a311]">linkgenerate</td> 
  <td>main@159259014</td>   <td></td> </tr>
<tr bgcolor="e88b9c">  <td>19/07/17 19:12:43</td>   <td>355820</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Linkgeneration4.linkgenerate()[pri:0, instance:com.editgenie.testcases.Linkgeneration4@548e7350]">linkgenerate</td> 
  <td>main@159259014</td>   <td></td> </tr>
<tr bgcolor="d86b78">  <td>19/07/17 19:13:35</td>   <td>407053</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Linkgeneration8.linkgenerate()[pri:0, instance:com.editgenie.testcases.Linkgeneration8@1a968a59]">linkgenerate</td> 
  <td>main@159259014</td>   <td></td> </tr>
<tr bgcolor="fdc0b0">  <td>19/07/17 19:14:26</td>   <td>458407</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Linkgeneration9.linkgenerate()[pri:0, instance:com.editgenie.testcases.Linkgeneration9@4667ae56]">linkgenerate</td> 
  <td>main@159259014</td>   <td></td> </tr>
<tr bgcolor="ceaf6a">  <td>19/07/17 19:15:16</td>   <td>508756</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EdLinkgeneration1.linkgenerate()[pri:0, instance:com.editgenie.testcases.EdLinkgeneration1@77cd7a0]">linkgenerate</td> 
  <td>main@159259014</td>   <td></td> </tr>
<tr bgcolor="9a8684">  <td>19/07/17 19:16:59</td>   <td>611597</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EdLinkgeneration2.linkgenerate()[pri:0, instance:com.editgenie.testcases.EdLinkgeneration2@204f30ec]">linkgenerate</td> 
  <td>main@159259014</td>   <td></td> </tr>
<tr bgcolor="9bd5b0">  <td>19/07/17 19:18:42</td>   <td>714891</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EdLinkgeneration3.linkgenerate()[pri:0, instance:com.editgenie.testcases.EdLinkgeneration3@e25b2fe]">linkgenerate</td> 
  <td>main@159259014</td>   <td></td> </tr>
</table>
