<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Cse Update Ref regression test</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b7e5df">  <td>18/09/18 11:43:09</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;UpdateBaseClass.setupApplication(java.lang.String)[pri:0, instance:com.UpdateReference.UpdateCseEditedBookReferences09@1a052a00]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@673186785</td>   <td></td> </tr>
<tr bgcolor="d98fe2">  <td>18/09/18 11:43:28</td>   <td>19519</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UpdateCseEditedBookReferences09.UpdateEditerBooktest09()[pri:0, instance:com.UpdateReference.UpdateCseEditedBookReferences09@1a052a00]">UpdateEditerBooktest09</td> 
  <td>main@673186785</td>   <td></td> </tr>
<tr bgcolor="b7e5df">  <td>18/09/18 11:43:56</td>   <td>47675</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;UpdateBaseClass.closeApplication()[pri:0, instance:com.UpdateReference.UpdateCseEditedBookReferences09@1a052a00]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@673186785</td>   <td></td> </tr>
<tr bgcolor="b7e5df">  <td>18/09/18 11:44:00</td>   <td>51378</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;UpdateBaseClass.setupApplication(java.lang.String)[pri:0, instance:com.UpdateReference.UpdateCseConferenceReference01@61009542]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@673186785</td>   <td></td> </tr>
<tr bgcolor="b3e29f">  <td>18/09/18 11:44:19</td>   <td>70418</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UpdateCseConferenceReference01.test1()[pri:0, instance:com.UpdateReference.UpdateCseConferenceReference01@61009542]">test1</td> 
  <td>main@673186785</td>   <td></td> </tr>
<tr bgcolor="b7e5df">  <td>18/09/18 11:44:47</td>   <td>98297</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;UpdateBaseClass.closeApplication()[pri:0, instance:com.UpdateReference.UpdateCseConferenceReference01@61009542]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@673186785</td>   <td></td> </tr>
<tr bgcolor="b7e5df">  <td>18/09/18 11:44:51</td>   <td>102017</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;UpdateBaseClass.setupApplication(java.lang.String)[pri:0, instance:com.UpdateReference.UpdateCseConferenceReference02@6279cee3]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@673186785</td>   <td></td> </tr>
<tr bgcolor="d2d3b1">  <td>18/09/18 11:45:10</td>   <td>121814</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UpdateCseConferenceReference02.test2()[pri:0, instance:com.UpdateReference.UpdateCseConferenceReference02@6279cee3]">test2</td> 
  <td>main@673186785</td>   <td></td> </tr>
<tr bgcolor="b7e5df">  <td>18/09/18 11:45:38</td>   <td>149769</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;UpdateBaseClass.closeApplication()[pri:0, instance:com.UpdateReference.UpdateCseConferenceReference02@6279cee3]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@673186785</td>   <td></td> </tr>
<tr bgcolor="b7e5df">  <td>18/09/18 11:45:42</td>   <td>153498</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;UpdateBaseClass.setupApplication(java.lang.String)[pri:0, instance:com.UpdateReference.UpdateCseConferenceReference03@77e9807f]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@673186785</td>   <td></td> </tr>
<tr bgcolor="68b9a4">  <td>18/09/18 11:46:04</td>   <td>175785</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UpdateCseConferenceReference03.test3()[pri:0, instance:com.UpdateReference.UpdateCseConferenceReference03@77e9807f]">test3</td> 
  <td>main@673186785</td>   <td></td> </tr>
<tr bgcolor="b7e5df">  <td>18/09/18 11:46:35</td>   <td>206858</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;UpdateBaseClass.closeApplication()[pri:0, instance:com.UpdateReference.UpdateCseConferenceReference03@77e9807f]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@673186785</td>   <td></td> </tr>
<tr bgcolor="b7e5df">  <td>18/09/18 11:46:39</td>   <td>210603</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;UpdateBaseClass.setupApplication(java.lang.String)[pri:0, instance:com.UpdateReference.UpdateCseConferenceReference04@1a38c59b]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@673186785</td>   <td></td> </tr>
<tr bgcolor="9a9374">  <td>18/09/18 11:46:59</td>   <td>230484</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UpdateCseConferenceReference04.test4()[pri:0, instance:com.UpdateReference.UpdateCseConferenceReference04@1a38c59b]">test4</td> 
  <td>main@673186785</td>   <td></td> </tr>
<tr bgcolor="b7e5df">  <td>18/09/18 11:47:29</td>   <td>260811</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;UpdateBaseClass.closeApplication()[pri:0, instance:com.UpdateReference.UpdateCseConferenceReference04@1a38c59b]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@673186785</td>   <td></td> </tr>
<tr bgcolor="b7e5df">  <td>18/09/18 11:47:33</td>   <td>264506</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;UpdateBaseClass.setupApplication(java.lang.String)[pri:0, instance:com.UpdateReference.UpdateCseConferenceReference05@7f77e91b]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@673186785</td>   <td></td> </tr>
<tr bgcolor="8c72c2">  <td>18/09/18 11:47:54</td>   <td>285348</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UpdateCseConferenceReference05.test5()[pri:0, instance:com.UpdateReference.UpdateCseConferenceReference05@7f77e91b]">test5</td> 
  <td>main@673186785</td>   <td></td> </tr>
<tr bgcolor="b7e5df">  <td>18/09/18 11:48:22</td>   <td>313379</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;UpdateBaseClass.closeApplication()[pri:0, instance:com.UpdateReference.UpdateCseConferenceReference05@7f77e91b]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@673186785</td>   <td></td> </tr>
<tr bgcolor="b7e5df">  <td>18/09/18 11:48:26</td>   <td>317065</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;UpdateBaseClass.setupApplication(java.lang.String)[pri:0, instance:com.UpdateReference.UpdateCseConferenceReference06@4d826d77]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@673186785</td>   <td></td> </tr>
<tr bgcolor="7666ad">  <td>18/09/18 11:48:47</td>   <td>338633</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UpdateCseConferenceReference06.test6()[pri:0, instance:com.UpdateReference.UpdateCseConferenceReference06@4d826d77]">test6</td> 
  <td>main@673186785</td>   <td></td> </tr>
<tr bgcolor="b7e5df">  <td>18/09/18 11:49:16</td>   <td>367893</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;UpdateBaseClass.closeApplication()[pri:0, instance:com.UpdateReference.UpdateCseConferenceReference06@4d826d77]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@673186785</td>   <td></td> </tr>
<tr bgcolor="b7e5df">  <td>18/09/18 11:49:20</td>   <td>371639</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;UpdateBaseClass.setupApplication(java.lang.String)[pri:0, instance:com.UpdateReference.UpdateCseConferenceReference07@44a664f2]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@673186785</td>   <td></td> </tr>
<tr bgcolor="6db3b2">  <td>18/09/18 11:49:40</td>   <td>390989</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UpdateCseConferenceReference07.test7()[pri:0, instance:com.UpdateReference.UpdateCseConferenceReference07@44a664f2]">test7</td> 
  <td>main@673186785</td>   <td></td> </tr>
<tr bgcolor="b7e5df">  <td>18/09/18 11:50:00</td>   <td>411052</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;UpdateBaseClass.closeApplication()[pri:0, instance:com.UpdateReference.UpdateCseConferenceReference07@44a664f2]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@673186785</td>   <td></td> </tr>
<tr bgcolor="b7e5df">  <td>18/09/18 11:50:03</td>   <td>414774</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;UpdateBaseClass.setupApplication(java.lang.String)[pri:0, instance:com.UpdateReference.UpdateCseConferenceReference08@770c2e6b]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@673186785</td>   <td></td> </tr>
<tr bgcolor="71d0d8">  <td>18/09/18 11:50:23</td>   <td>434566</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UpdateCseConferenceReference08.test8()[pri:0, instance:com.UpdateReference.UpdateCseConferenceReference08@770c2e6b]">test8</td> 
  <td>main@673186785</td>   <td></td> </tr>
<tr bgcolor="b7e5df">  <td>18/09/18 11:50:43</td>   <td>454851</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;UpdateBaseClass.closeApplication()[pri:0, instance:com.UpdateReference.UpdateCseConferenceReference08@770c2e6b]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@673186785</td>   <td></td> </tr>
<tr bgcolor="b7e5df">  <td>18/09/18 11:50:47</td>   <td>458542</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;UpdateBaseClass.setupApplication(java.lang.String)[pri:0, instance:com.UpdateReference.UpdateCseConferenceReference09@7bb58ca3]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@673186785</td>   <td></td> </tr>
<tr bgcolor="9379b6">  <td>18/09/18 11:51:07</td>   <td>478195</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UpdateCseConferenceReference09.test9()[pri:0, instance:com.UpdateReference.UpdateCseConferenceReference09@7bb58ca3]">test9</td> 
  <td>main@673186785</td>   <td></td> </tr>
<tr bgcolor="b7e5df">  <td>18/09/18 11:51:27</td>   <td>498310</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;UpdateBaseClass.closeApplication()[pri:0, instance:com.UpdateReference.UpdateCseConferenceReference09@7bb58ca3]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@673186785</td>   <td></td> </tr>
<tr bgcolor="b7e5df">  <td>18/09/18 11:51:31</td>   <td>502035</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;UpdateBaseClass.setupApplication(java.lang.String)[pri:0, instance:com.UpdateReference.UpdateCseConferenceReference10@448ff1a8]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@673186785</td>   <td></td> </tr>
<tr bgcolor="aa8ec7">  <td>18/09/18 11:51:49</td>   <td>520614</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UpdateCseConferenceReference10.test10()[pri:0, instance:com.UpdateReference.UpdateCseConferenceReference10@448ff1a8]">test10</td> 
  <td>main@673186785</td>   <td></td> </tr>
<tr bgcolor="b7e5df">  <td>18/09/18 11:52:12</td>   <td>543755</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;UpdateBaseClass.closeApplication()[pri:0, instance:com.UpdateReference.UpdateCseConferenceReference10@448ff1a8]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@673186785</td>   <td></td> </tr>
<tr bgcolor="b7e5df">  <td>18/09/18 11:52:16</td>   <td>547435</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;UpdateBaseClass.setupApplication(java.lang.String)[pri:0, instance:com.UpdateReference.UpdateCseConferenceReference11@c540f5a]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@673186785</td>   <td></td> </tr>
<tr bgcolor="a778df">  <td>18/09/18 11:52:35</td>   <td>566712</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UpdateCseConferenceReference11.test11()[pri:0, instance:com.UpdateReference.UpdateCseConferenceReference11@c540f5a]">test11</td> 
  <td>main@673186785</td>   <td></td> </tr>
<tr bgcolor="b7e5df">  <td>18/09/18 11:53:00</td>   <td>591143</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;UpdateBaseClass.closeApplication()[pri:0, instance:com.UpdateReference.UpdateCseConferenceReference11@c540f5a]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@673186785</td>   <td></td> </tr>
</table>
