<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>ERSSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6fa38a">  <td>19/10/17 14:24:59</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Ers_EditorEndLinkGenrationChrome.ErsLinkGenrationFuntionForChromeFigureContain(java.lang.String)[pri:0, instance:com.LinkGenrationTestModule.Ers_EditorEndLinkGenrationChrome@5cb9f472]">&gt;&gt;ErsLinkGenrationFuntionForChromeFigureContain</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2006034581</td>   <td></td> </tr>
<tr bgcolor="6fa38a">  <td>19/10/17 14:30:55</td>   <td>355955</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Ers_EditorEndLinkGenrationChrome.PE_OrcidTest01()[pri:65, instance:com.LinkGenrationTestModule.Ers_EditorEndLinkGenrationChrome@5cb9f472]">PE_OrcidTest01</td> 
  <td>main@2006034581</td>   <td></td> </tr>
<tr bgcolor="6fa38a">  <td>19/10/17 14:30:55</td>   <td>356242</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Ers_EditorEndLinkGenrationChrome.PE_OrcidTest02()[pri:66, instance:com.LinkGenrationTestModule.Ers_EditorEndLinkGenrationChrome@5cb9f472]">PE_OrcidTest02</td> 
  <td>main@2006034581</td>   <td></td> </tr>
<tr bgcolor="6fa38a">  <td>19/10/17 14:30:58</td>   <td>359481</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Ers_EditorEndLinkGenrationChrome.PE_OrcidTest03()[pri:67, instance:com.LinkGenrationTestModule.Ers_EditorEndLinkGenrationChrome@5cb9f472]">PE_OrcidTest03</td> 
  <td>main@2006034581</td>   <td></td> </tr>
<tr bgcolor="6fa38a">  <td>19/10/17 14:31:01</td>   <td>362724</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Ers_EditorEndLinkGenrationChrome.PE_OrcidTest04()[pri:68, instance:com.LinkGenrationTestModule.Ers_EditorEndLinkGenrationChrome@5cb9f472]">PE_OrcidTest04</td> 
  <td>main@2006034581</td>   <td></td> </tr>
<tr bgcolor="6fa38a">  <td>19/10/17 14:26:24</td>   <td>84798</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Ers_EditorEndLinkGenrationChrome.TestFigureCaption01()[pri:2, instance:com.LinkGenrationTestModule.Ers_EditorEndLinkGenrationChrome@5cb9f472]">TestFigureCaption01</td> 
  <td>main@2006034581</td>   <td></td> </tr>
<tr bgcolor="6fa38a">  <td>19/10/17 14:31:02</td>   <td>362924</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Ers_EditorEndLinkGenrationChrome.tearDown()[pri:0, instance:com.LinkGenrationTestModule.Ers_EditorEndLinkGenrationChrome@5cb9f472]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2006034581</td>   <td></td> </tr>
</table>
