<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.editgenie.testcases.Linkgeneration4</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>linkgenerate</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.editgenie.testcases.Linkgeneration5</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>linkgenerate</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.EditGenieTest.FuntionForLinkGenration</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>LinkGenrationFuntionForChromePEFigureContain</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>LinkGenrationAuthorNameFireFox</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>LinkGenrationCSCJournalRefFireFox</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>LinkGenrationCSCJournalRefChrome</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>LinkGenrationFuntionForPEChrome</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>LinkGenrationAlphabetStyleAddAffiliationChrome</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>LinkGenrationFuntionForFireFox</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>LinkGenrationFuntionForChromeFigureContain</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>LinkGenrationFuntionForFireFoxFigureContain</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>LinkGenrationFuntionForFireFoxPEFigureContain</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>LinkGenrationAlphabetStyleAddAffiliationFireFox</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>LinkGenrationNumberStyleAddAffiliationChrome</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>LinkGenrationAuthorNameChrome</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>LinkGenrationFuntionForPEFireFox</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>LinkGenrationNumberStyleAddAffiliationFireFox</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>LinkGenrationFuntionForChrome</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.editgenie.testcases.Linkgeneration1</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>linkgenerate</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.editgenie.testcases.Linkgeneration2</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>linkgenerate</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.editgenie.testcases.Linkgeneration3</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>linkgenerate</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
