<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite (1)</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6c8e6b">  <td>18/08/23 17:30:31</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FuntionForLinkGenration.LinkGenrationAlphabetStyleAddAffiliationChrome()[pri:0, instance:com.EditGenieTest.FuntionForLinkGenration@4d826d77]">LinkGenrationAlphabetStyleAddAffiliationChrome</td> 
  <td>main@795372831</td>   <td></td> </tr>
<tr bgcolor="6c8e6b">  <td>18/08/23 17:31:30</td>   <td>58999</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FuntionForLinkGenration.TearDown()[pri:0, instance:com.EditGenieTest.FuntionForLinkGenration@4d826d77]">&lt;&lt;TearDown</td> 
<td>&nbsp;</td>  <td>main@795372831</td>   <td></td> </tr>
<tr bgcolor="6c8e6b">  <td>18/08/23 17:31:36</td>   <td>65636</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FuntionForLinkGenration.LinkGenrationAlphabetStyleAddAffiliationFireFox()[pri:0, instance:com.EditGenieTest.FuntionForLinkGenration@4d826d77]">LinkGenrationAlphabetStyleAddAffiliationFireFox</td> 
  <td>main@795372831</td>   <td></td> </tr>
<tr bgcolor="6c8e6b">  <td>18/08/23 17:32:03</td>   <td>92715</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FuntionForLinkGenration.TearDown()[pri:0, instance:com.EditGenieTest.FuntionForLinkGenration@4d826d77]">&lt;&lt;TearDown</td> 
<td>&nbsp;</td>  <td>main@795372831</td>   <td></td> </tr>
<tr bgcolor="6c8e6b">  <td>18/08/23 17:32:10</td>   <td>99510</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FuntionForLinkGenration.LinkGenrationAuthorNameChrome()[pri:0, instance:com.EditGenieTest.FuntionForLinkGenration@4d826d77]">LinkGenrationAuthorNameChrome</td> 
  <td>main@795372831</td>   <td></td> </tr>
<tr bgcolor="6c8e6b">  <td>18/08/23 17:32:40</td>   <td>128992</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FuntionForLinkGenration.TearDown()[pri:0, instance:com.EditGenieTest.FuntionForLinkGenration@4d826d77]">&lt;&lt;TearDown</td> 
<td>&nbsp;</td>  <td>main@795372831</td>   <td></td> </tr>
<tr bgcolor="6c8e6b">  <td>18/08/23 17:32:46</td>   <td>135844</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FuntionForLinkGenration.LinkGenrationAuthorNameFireFox()[pri:0, instance:com.EditGenieTest.FuntionForLinkGenration@4d826d77]">LinkGenrationAuthorNameFireFox</td> 
  <td>main@795372831</td>   <td></td> </tr>
<tr bgcolor="6c8e6b">  <td>18/08/23 17:33:13</td>   <td>162615</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FuntionForLinkGenration.TearDown()[pri:0, instance:com.EditGenieTest.FuntionForLinkGenration@4d826d77]">&lt;&lt;TearDown</td> 
<td>&nbsp;</td>  <td>main@795372831</td>   <td></td> </tr>
<tr bgcolor="6c8e6b">  <td>18/08/23 17:33:20</td>   <td>169412</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FuntionForLinkGenration.LinkGenrationCSCJournalRefChrome()[pri:0, instance:com.EditGenieTest.FuntionForLinkGenration@4d826d77]">LinkGenrationCSCJournalRefChrome</td> 
  <td>main@795372831</td>   <td></td> </tr>
<tr bgcolor="6c8e6b">  <td>18/08/23 17:33:50</td>   <td>199101</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FuntionForLinkGenration.TearDown()[pri:0, instance:com.EditGenieTest.FuntionForLinkGenration@4d826d77]">&lt;&lt;TearDown</td> 
<td>&nbsp;</td>  <td>main@795372831</td>   <td></td> </tr>
<tr bgcolor="6c8e6b">  <td>18/08/23 17:33:57</td>   <td>205943</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FuntionForLinkGenration.LinkGenrationCSCJournalRefFireFox()[pri:0, instance:com.EditGenieTest.FuntionForLinkGenration@4d826d77]">LinkGenrationCSCJournalRefFireFox</td> 
  <td>main@795372831</td>   <td></td> </tr>
<tr bgcolor="6c8e6b">  <td>18/08/23 17:34:48</td>   <td>257845</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FuntionForLinkGenration.TearDown()[pri:0, instance:com.EditGenieTest.FuntionForLinkGenration@4d826d77]">&lt;&lt;TearDown</td> 
<td>&nbsp;</td>  <td>main@795372831</td>   <td></td> </tr>
<tr bgcolor="6c8e6b">  <td>18/08/23 17:34:55</td>   <td>264650</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FuntionForLinkGenration.LinkGenrationFuntionForChrome()[pri:0, instance:com.EditGenieTest.FuntionForLinkGenration@4d826d77]">LinkGenrationFuntionForChrome</td> 
  <td>main@795372831</td>   <td></td> </tr>
<tr bgcolor="6c8e6b">  <td>18/08/23 17:35:29</td>   <td>298633</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FuntionForLinkGenration.TearDown()[pri:0, instance:com.EditGenieTest.FuntionForLinkGenration@4d826d77]">&lt;&lt;TearDown</td> 
<td>&nbsp;</td>  <td>main@795372831</td>   <td></td> </tr>
<tr bgcolor="6c8e6b">  <td>18/08/23 17:35:36</td>   <td>305416</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FuntionForLinkGenration.LinkGenrationFuntionForChromeFigureContain()[pri:0, instance:com.EditGenieTest.FuntionForLinkGenration@4d826d77]">LinkGenrationFuntionForChromeFigureContain</td> 
  <td>main@795372831</td>   <td></td> </tr>
<tr bgcolor="6c8e6b">  <td>18/08/23 17:36:05</td>   <td>334397</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FuntionForLinkGenration.TearDown()[pri:0, instance:com.EditGenieTest.FuntionForLinkGenration@4d826d77]">&lt;&lt;TearDown</td> 
<td>&nbsp;</td>  <td>main@795372831</td>   <td></td> </tr>
<tr bgcolor="6c8e6b">  <td>18/08/23 17:36:12</td>   <td>341285</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FuntionForLinkGenration.LinkGenrationFuntionForChromePEFigureContain()[pri:0, instance:com.EditGenieTest.FuntionForLinkGenration@4d826d77]">LinkGenrationFuntionForChromePEFigureContain</td> 
  <td>main@795372831</td>   <td></td> </tr>
<tr bgcolor="6c8e6b">  <td>18/08/23 17:36:41</td>   <td>370280</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FuntionForLinkGenration.TearDown()[pri:0, instance:com.EditGenieTest.FuntionForLinkGenration@4d826d77]">&lt;&lt;TearDown</td> 
<td>&nbsp;</td>  <td>main@795372831</td>   <td></td> </tr>
<tr bgcolor="6c8e6b">  <td>18/08/23 17:36:48</td>   <td>377102</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FuntionForLinkGenration.LinkGenrationFuntionForFireFox()[pri:0, instance:com.EditGenieTest.FuntionForLinkGenration@4d826d77]">LinkGenrationFuntionForFireFox</td> 
  <td>main@795372831</td>   <td></td> </tr>
<tr bgcolor="6c8e6b">  <td>18/08/23 17:37:17</td>   <td>406880</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FuntionForLinkGenration.TearDown()[pri:0, instance:com.EditGenieTest.FuntionForLinkGenration@4d826d77]">&lt;&lt;TearDown</td> 
<td>&nbsp;</td>  <td>main@795372831</td>   <td></td> </tr>
<tr bgcolor="6c8e6b">  <td>18/08/23 17:37:24</td>   <td>413830</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FuntionForLinkGenration.LinkGenrationFuntionForFireFoxFigureContain()[pri:0, instance:com.EditGenieTest.FuntionForLinkGenration@4d826d77]">LinkGenrationFuntionForFireFoxFigureContain</td> 
  <td>main@795372831</td>   <td></td> </tr>
<tr bgcolor="6c8e6b">  <td>18/08/23 17:38:20</td>   <td>469419</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FuntionForLinkGenration.TearDown()[pri:0, instance:com.EditGenieTest.FuntionForLinkGenration@4d826d77]">&lt;&lt;TearDown</td> 
<td>&nbsp;</td>  <td>main@795372831</td>   <td></td> </tr>
<tr bgcolor="6c8e6b">  <td>18/08/23 17:38:27</td>   <td>476260</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FuntionForLinkGenration.LinkGenrationFuntionForFireFoxPEFigureContain()[pri:0, instance:com.EditGenieTest.FuntionForLinkGenration@4d826d77]">LinkGenrationFuntionForFireFoxPEFigureContain</td> 
  <td>main@795372831</td>   <td></td> </tr>
<tr bgcolor="6c8e6b">  <td>18/08/23 17:38:58</td>   <td>507178</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FuntionForLinkGenration.TearDown()[pri:0, instance:com.EditGenieTest.FuntionForLinkGenration@4d826d77]">&lt;&lt;TearDown</td> 
<td>&nbsp;</td>  <td>main@795372831</td>   <td></td> </tr>
<tr bgcolor="6c8e6b">  <td>18/08/23 17:39:04</td>   <td>513850</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FuntionForLinkGenration.LinkGenrationFuntionForPEChrome()[pri:0, instance:com.EditGenieTest.FuntionForLinkGenration@4d826d77]">LinkGenrationFuntionForPEChrome</td> 
  <td>main@795372831</td>   <td></td> </tr>
<tr bgcolor="6c8e6b">  <td>18/08/23 17:39:35</td>   <td>544460</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FuntionForLinkGenration.TearDown()[pri:0, instance:com.EditGenieTest.FuntionForLinkGenration@4d826d77]">&lt;&lt;TearDown</td> 
<td>&nbsp;</td>  <td>main@795372831</td>   <td></td> </tr>
<tr bgcolor="6c8e6b">  <td>18/08/23 17:39:42</td>   <td>551298</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FuntionForLinkGenration.LinkGenrationFuntionForPEFireFox()[pri:0, instance:com.EditGenieTest.FuntionForLinkGenration@4d826d77]">LinkGenrationFuntionForPEFireFox</td> 
  <td>main@795372831</td>   <td></td> </tr>
<tr bgcolor="6c8e6b">  <td>18/08/23 17:40:48</td>   <td>616976</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FuntionForLinkGenration.TearDown()[pri:0, instance:com.EditGenieTest.FuntionForLinkGenration@4d826d77]">&lt;&lt;TearDown</td> 
<td>&nbsp;</td>  <td>main@795372831</td>   <td></td> </tr>
<tr bgcolor="6c8e6b">  <td>18/08/23 17:40:54</td>   <td>623802</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FuntionForLinkGenration.LinkGenrationNumberStyleAddAffiliationChrome()[pri:0, instance:com.EditGenieTest.FuntionForLinkGenration@4d826d77]">LinkGenrationNumberStyleAddAffiliationChrome</td> 
  <td>main@795372831</td>   <td></td> </tr>
<tr bgcolor="6c8e6b">  <td>18/08/23 17:41:23</td>   <td>652909</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FuntionForLinkGenration.TearDown()[pri:0, instance:com.EditGenieTest.FuntionForLinkGenration@4d826d77]">&lt;&lt;TearDown</td> 
<td>&nbsp;</td>  <td>main@795372831</td>   <td></td> </tr>
<tr bgcolor="6c8e6b">  <td>18/08/23 17:41:30</td>   <td>659804</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FuntionForLinkGenration.LinkGenrationNumberStyleAddAffiliationFireFox()[pri:0, instance:com.EditGenieTest.FuntionForLinkGenration@4d826d77]">LinkGenrationNumberStyleAddAffiliationFireFox</td> 
  <td>main@795372831</td>   <td></td> </tr>
<tr bgcolor="6c8e6b">  <td>18/08/23 17:42:00</td>   <td>689017</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FuntionForLinkGenration.TearDown()[pri:0, instance:com.EditGenieTest.FuntionForLinkGenration@4d826d77]">&lt;&lt;TearDown</td> 
<td>&nbsp;</td>  <td>main@795372831</td>   <td></td> </tr>
</table>
