<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>CSCJournalRef regression test</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6db3b2">  <td>18/09/12 17:47:51</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;JournalRefBaseClass.closeApplication()[pri:0, instance:com.Reference.AddCseConferenceRef01@62e136d3]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@673186785</td>   <td></td> </tr>
<tr bgcolor="6db3b2">  <td>18/09/12 17:48:27</td>   <td>35513</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;JournalRefBaseClass.closeApplication()[pri:0, instance:com.Reference.AddCseConferenceRef02@6279cee3]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@673186785</td>   <td></td> </tr>
<tr bgcolor="6db3b2">  <td>18/09/12 17:49:11</td>   <td>79138</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;JournalRefBaseClass.closeApplication()[pri:0, instance:com.Reference.AddCseConferenceRef03@564718df]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@673186785</td>   <td></td> </tr>
<tr bgcolor="6db3b2">  <td>18/09/12 17:49:48</td>   <td>116904</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;JournalRefBaseClass.closeApplication()[pri:0, instance:com.Reference.AddCseConferenceRef04@4206a205]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@673186785</td>   <td></td> </tr>
<tr bgcolor="6db3b2">  <td>18/09/12 17:50:19</td>   <td>147498</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;JournalRefBaseClass.closeApplication()[pri:0, instance:com.Reference.AddCseConferenceRef05@29ba4338]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@673186785</td>   <td></td> </tr>
<tr bgcolor="6db3b2">  <td>18/09/12 17:50:49</td>   <td>177775</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;JournalRefBaseClass.closeApplication()[pri:0, instance:com.Reference.AddCseConferenceRef06@7bb58ca3]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@673186785</td>   <td></td> </tr>
<tr bgcolor="6db3b2">  <td>18/09/12 17:51:19</td>   <td>207917</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;JournalRefBaseClass.closeApplication()[pri:0, instance:com.Reference.AddCseConferenceRef07@c8e4bb0]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@673186785</td>   <td></td> </tr>
<tr bgcolor="6db3b2">  <td>18/09/12 17:47:18</td>   <td>-32968</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;JournalRefBaseClass.setupApplication(java.lang.String)[pri:0, instance:com.Reference.AddCseConferenceRef01@62e136d3]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@673186785</td>   <td></td> </tr>
<tr bgcolor="6db3b2">  <td>18/09/12 17:47:55</td>   <td>3702</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;JournalRefBaseClass.setupApplication(java.lang.String)[pri:0, instance:com.Reference.AddCseConferenceRef02@6279cee3]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@673186785</td>   <td></td> </tr>
<tr bgcolor="6db3b2">  <td>18/09/12 17:48:31</td>   <td>39240</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;JournalRefBaseClass.setupApplication(java.lang.String)[pri:0, instance:com.Reference.AddCseConferenceRef03@564718df]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@673186785</td>   <td></td> </tr>
<tr bgcolor="6db3b2">  <td>18/09/12 17:49:14</td>   <td>82814</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;JournalRefBaseClass.setupApplication(java.lang.String)[pri:0, instance:com.Reference.AddCseConferenceRef04@4206a205]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@673186785</td>   <td></td> </tr>
<tr bgcolor="6db3b2">  <td>18/09/12 17:49:52</td>   <td>120627</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;JournalRefBaseClass.setupApplication(java.lang.String)[pri:0, instance:com.Reference.AddCseConferenceRef05@29ba4338]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@673186785</td>   <td></td> </tr>
<tr bgcolor="6db3b2">  <td>18/09/12 17:50:23</td>   <td>151179</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;JournalRefBaseClass.setupApplication(java.lang.String)[pri:0, instance:com.Reference.AddCseConferenceRef06@7bb58ca3]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@673186785</td>   <td></td> </tr>
<tr bgcolor="6db3b2">  <td>18/09/12 17:50:53</td>   <td>181505</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;JournalRefBaseClass.setupApplication(java.lang.String)[pri:0, instance:com.Reference.AddCseConferenceRef07@c8e4bb0]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@673186785</td>   <td></td> </tr>
<tr bgcolor="d98fe2">  <td>18/09/12 17:47:33</td>   <td>-18640</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddCseConferenceRef01.test1()[pri:0, instance:com.Reference.AddCseConferenceRef01@62e136d3]">test1</td> 
  <td>main@673186785</td>   <td></td> </tr>
<tr bgcolor="b3e29f">  <td>18/09/12 17:48:09</td>   <td>17715</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddCseConferenceRef02.test1()[pri:0, instance:com.Reference.AddCseConferenceRef02@6279cee3]">test1</td> 
  <td>main@673186785</td>   <td></td> </tr>
<tr bgcolor="d2d3b1">  <td>18/09/12 17:48:48</td>   <td>56251</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddCseConferenceRef03.test3()[pri:0, instance:com.Reference.AddCseConferenceRef03@564718df]">test3</td> 
  <td>main@673186785</td>   <td></td> </tr>
<tr bgcolor="68b9a4">  <td>18/09/12 17:49:29</td>   <td>97537</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddCseConferenceRef04.test4()[pri:0, instance:com.Reference.AddCseConferenceRef04@4206a205]">test4</td> 
  <td>main@673186785</td>   <td></td> </tr>
<tr bgcolor="9a9374">  <td>18/09/12 17:50:05</td>   <td>134034</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddCseConferenceRef05.test5()[pri:0, instance:com.Reference.AddCseConferenceRef05@29ba4338]">test5</td> 
  <td>main@673186785</td>   <td></td> </tr>
<tr bgcolor="8c72c2">  <td>18/09/12 17:50:36</td>   <td>164567</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddCseConferenceRef06.test6()[pri:0, instance:com.Reference.AddCseConferenceRef06@7bb58ca3]">test6</td> 
  <td>main@673186785</td>   <td></td> </tr>
<tr bgcolor="7666ad">  <td>18/09/12 17:51:06</td>   <td>194637</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddCseConferenceRef07.test7()[pri:0, instance:com.Reference.AddCseConferenceRef07@c8e4bb0]">test7</td> 
  <td>main@673186785</td>   <td></td> </tr>
</table>
