<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>AlphabetStyleAddAffiliation regression test</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="90a6be">  <td>19/01/03 17:29:46</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AlphabetStyleAddAffiliation01.Alphabet_Style_Add_AffiliationTest01()[pri:0, instance:com.AuthorNameAreaAddAffiliation.AlphabetStyleAddAffiliation01@4b9e255]">Alphabet_Style_Add_AffiliationTest01</td> 
  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="90a6be">  <td>19/01/03 17:50:27</td>   <td>1240351</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AlphabetStyleAddAffiliation01.Alphabet_Style_Add_AffiliationTest01()[pri:0, instance:com.AuthorNameAreaAddAffiliation.AlphabetStyleAddAffiliation01@679b62af]">Alphabet_Style_Add_AffiliationTest01</td> 
  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="a8baa7">  <td>19/01/03 17:31:41</td>   <td>114725</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AlphabetStyleAddAffiliation02.Alphabet_Style_Add_AffiliationTest02()[pri:0, instance:com.AuthorNameAreaAddAffiliation.AlphabetStyleAddAffiliation02@5e57643e]">Alphabet_Style_Add_AffiliationTest02</td> 
  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="84a17f">  <td>19/01/03 17:38:07</td>   <td>500962</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AlphabetStyleAddAffiliation09.Alphabet_Style_Add_AffiliationTest02()[pri:0, instance:com.AuthorNameAreaAddAffiliation.AlphabetStyleAddAffiliation09@50de0926]">Alphabet_Style_Add_AffiliationTest02</td> 
  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="a8baa7">  <td>19/01/03 17:52:26</td>   <td>1359247</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AlphabetStyleAddAffiliation02.Alphabet_Style_Add_AffiliationTest02()[pri:0, instance:com.AuthorNameAreaAddAffiliation.AlphabetStyleAddAffiliation02@5cdd8682]">Alphabet_Style_Add_AffiliationTest02</td> 
  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="84a17f">  <td>19/01/03 17:58:51</td>   <td>1744934</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AlphabetStyleAddAffiliation09.Alphabet_Style_Add_AffiliationTest02()[pri:0, instance:com.AuthorNameAreaAddAffiliation.AlphabetStyleAddAffiliation09@17776a8]">Alphabet_Style_Add_AffiliationTest02</td> 
  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="bbf683">  <td>19/01/03 17:32:30</td>   <td>163446</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AlphabetStyleAddAffiliation03.Alphabet_Style_Add_AffiliationTest03()[pri:0, instance:com.AuthorNameAreaAddAffiliation.AlphabetStyleAddAffiliation03@133e16fd]">Alphabet_Style_Add_AffiliationTest03</td> 
  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="bbf683">  <td>19/01/03 17:53:14</td>   <td>1407954</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AlphabetStyleAddAffiliation03.Alphabet_Style_Add_AffiliationTest03()[pri:0, instance:com.AuthorNameAreaAddAffiliation.AlphabetStyleAddAffiliation03@d6da883]">Alphabet_Style_Add_AffiliationTest03</td> 
  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="c8817c">  <td>19/01/03 17:33:30</td>   <td>223928</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AlphabetStyleAddAffiliation04.Alphabet_Style_Add_AffiliationTest04()[pri:0, instance:com.AuthorNameAreaAddAffiliation.AlphabetStyleAddAffiliation04@51b279c9]">Alphabet_Style_Add_AffiliationTest04</td> 
  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="c8817c">  <td>19/01/03 17:54:16</td>   <td>1469637</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AlphabetStyleAddAffiliation04.Alphabet_Style_Add_AffiliationTest04()[pri:0, instance:com.AuthorNameAreaAddAffiliation.AlphabetStyleAddAffiliation04@45afc369]">Alphabet_Style_Add_AffiliationTest04</td> 
  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="76c8cd">  <td>19/01/03 17:34:34</td>   <td>287460</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AlphabetStyleAddAffiliation05.Alphabet_Style_Add_AffiliationTest05()[pri:0, instance:com.AuthorNameAreaAddAffiliation.AlphabetStyleAddAffiliation05@1ad282e0]">Alphabet_Style_Add_AffiliationTest05</td> 
  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="76c8cd">  <td>19/01/03 17:55:20</td>   <td>1533898</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AlphabetStyleAddAffiliation05.Alphabet_Style_Add_AffiliationTest05()[pri:0, instance:com.AuthorNameAreaAddAffiliation.AlphabetStyleAddAffiliation05@799d4f69]">Alphabet_Style_Add_AffiliationTest05</td> 
  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="aa8ea6">  <td>19/01/03 17:35:25</td>   <td>338226</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AlphabetStyleAddAffiliation06.Alphabet_Style_Add_AffiliationTest06()[pri:0, instance:com.AuthorNameAreaAddAffiliation.AlphabetStyleAddAffiliation06@7f416310]">Alphabet_Style_Add_AffiliationTest06</td> 
  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="aa8ea6">  <td>19/01/03 17:56:08</td>   <td>1581727</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AlphabetStyleAddAffiliation06.Alphabet_Style_Add_AffiliationTest06()[pri:0, instance:com.AuthorNameAreaAddAffiliation.AlphabetStyleAddAffiliation06@49c43f4e]">Alphabet_Style_Add_AffiliationTest06</td> 
  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="9fc5a2">  <td>19/01/03 17:36:16</td>   <td>389427</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AlphabetStyleAddAffiliation07.Alphabet_Style_Add_AffiliationTest07()[pri:0, instance:com.AuthorNameAreaAddAffiliation.AlphabetStyleAddAffiliation07@1cab0bfb]">Alphabet_Style_Add_AffiliationTest07</td> 
  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="9fc5a2">  <td>19/01/03 17:56:58</td>   <td>1631822</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AlphabetStyleAddAffiliation07.Alphabet_Style_Add_AffiliationTest07()[pri:0, instance:com.AuthorNameAreaAddAffiliation.AlphabetStyleAddAffiliation07@290dbf45]">Alphabet_Style_Add_AffiliationTest07</td> 
  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="b0c1b8">  <td>19/01/03 17:37:04</td>   <td>438143</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AlphabetStyleAddAffiliation08.Alphabet_Style_Add_AffiliationTest08()[pri:0, instance:com.AuthorNameAreaAddAffiliation.AlphabetStyleAddAffiliation08@5e955596]">Alphabet_Style_Add_AffiliationTest08</td> 
  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="b0c1b8">  <td>19/01/03 17:57:48</td>   <td>1681899</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AlphabetStyleAddAffiliation08.Alphabet_Style_Add_AffiliationTest08()[pri:0, instance:com.AuthorNameAreaAddAffiliation.AlphabetStyleAddAffiliation08@12028586]">Alphabet_Style_Add_AffiliationTest08</td> 
  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="7e7863">  <td>19/01/03 17:39:15</td>   <td>568477</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NumberStyleAddAffiliation01.Number_Style_Add_AffiliationTest01()[pri:0, instance:com.AuthorNameAreaAddAffiliation.NumberStyleAddAffiliation01@2473b9ce]">Number_Style_Add_AffiliationTest01</td> 
  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="7e7863">  <td>19/01/03 18:00:04</td>   <td>1817311</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NumberStyleAddAffiliation01.Number_Style_Add_AffiliationTest01()[pri:0, instance:com.AuthorNameAreaAddAffiliation.NumberStyleAddAffiliation01@69a10787]">Number_Style_Add_AffiliationTest01</td> 
  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="dba097">  <td>19/01/03 17:43:17</td>   <td>810658</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NumberStyleAddAffiliation02.Number_Style_Add_AffiliationTest02()[pri:0, instance:com.AuthorNameAreaAddAffiliation.NumberStyleAddAffiliation02@60438a68]">Number_Style_Add_AffiliationTest02</td> 
  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="dba097">  <td>19/01/03 18:04:23</td>   <td>2076978</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NumberStyleAddAffiliation02.Number_Style_Add_AffiliationTest02()[pri:0, instance:com.AuthorNameAreaAddAffiliation.NumberStyleAddAffiliation02@2d127a61]">Number_Style_Add_AffiliationTest02</td> 
  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="86f9d5">  <td>19/01/03 17:44:06</td>   <td>859357</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NumberStyleAddAffiliation03.Number_Style_Add_AffiliationTest03()[pri:0, instance:com.AuthorNameAreaAddAffiliation.NumberStyleAddAffiliation03@140e5a13]">Number_Style_Add_AffiliationTest03</td> 
  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="86f9d5">  <td>19/01/03 18:05:13</td>   <td>2126843</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NumberStyleAddAffiliation03.Number_Style_Add_AffiliationTest03()[pri:0, instance:com.AuthorNameAreaAddAffiliation.NumberStyleAddAffiliation03@2bbaf4f0]">Number_Style_Add_AffiliationTest03</td> 
  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="ad6e83">  <td>19/01/03 17:44:52</td>   <td>905747</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NumberStyleAddAffiliation04.Number_Style_Add_AffiliationTest04()[pri:0, instance:com.AuthorNameAreaAddAffiliation.NumberStyleAddAffiliation04@3439f68d]">Number_Style_Add_AffiliationTest04</td> 
  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="ad6e83">  <td>19/01/03 18:06:03</td>   <td>2176180</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NumberStyleAddAffiliation04.Number_Style_Add_AffiliationTest04()[pri:0, instance:com.AuthorNameAreaAddAffiliation.NumberStyleAddAffiliation04@11c20519]">Number_Style_Add_AffiliationTest04</td> 
  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="a0cee9">  <td>19/01/03 17:45:57</td>   <td>970298</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NumberStyleAddAffiliation05.Number_Style_Add_AffiliationTest05()[pri:0, instance:com.AuthorNameAreaAddAffiliation.NumberStyleAddAffiliation05@dbd940d]">Number_Style_Add_AffiliationTest05</td> 
  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="78a36e">  <td>19/01/03 17:48:25</td>   <td>1118802</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NumberStyleAddAffiliation08.Number_Style_Add_AffiliationTest05(java.lang.String)[pri:0, instance:com.AuthorNameAreaAddAffiliation.NumberStyleAddAffiliation08@6c9f5c0d]">Number_Style_Add_AffiliationTest05</td> 
  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="a0cee9">  <td>19/01/03 18:07:05</td>   <td>2238658</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NumberStyleAddAffiliation05.Number_Style_Add_AffiliationTest05()[pri:0, instance:com.AuthorNameAreaAddAffiliation.NumberStyleAddAffiliation05@70beb599]">Number_Style_Add_AffiliationTest05</td> 
  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="78a36e">  <td>19/01/03 18:09:41</td>   <td>2395055</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NumberStyleAddAffiliation08.Number_Style_Add_AffiliationTest05(java.lang.String)[pri:0, instance:com.AuthorNameAreaAddAffiliation.NumberStyleAddAffiliation08@33cb5951]">Number_Style_Add_AffiliationTest05</td> 
  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="b27172">  <td>19/01/03 17:46:45</td>   <td>1018913</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NumberStyleAddAffiliation06.Number_Style_Add_AffiliationTest06()[pri:0, instance:com.AuthorNameAreaAddAffiliation.NumberStyleAddAffiliation06@71d15f18]">Number_Style_Add_AffiliationTest06</td> 
  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="b27172">  <td>19/01/03 18:07:57</td>   <td>2290405</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NumberStyleAddAffiliation06.Number_Style_Add_AffiliationTest06()[pri:0, instance:com.AuthorNameAreaAddAffiliation.NumberStyleAddAffiliation06@4e41089d]">Number_Style_Add_AffiliationTest06</td> 
  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="da69a0">  <td>19/01/03 17:47:36</td>   <td>1069762</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NumberStyleAddAffiliation07.Number_Style_Add_AffiliationTest07()[pri:0, instance:com.AuthorNameAreaAddAffiliation.NumberStyleAddAffiliation07@17695df3]">Number_Style_Add_AffiliationTest07</td> 
  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="da69a0">  <td>19/01/03 18:08:50</td>   <td>2344158</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NumberStyleAddAffiliation07.Number_Style_Add_AffiliationTest07()[pri:0, instance:com.AuthorNameAreaAddAffiliation.NumberStyleAddAffiliation07@32a068d1]">Number_Style_Add_AffiliationTest07</td> 
  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="6a64ae">  <td>19/01/03 17:49:27</td>   <td>1180643</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NumberStyleAddAffiliation09.Number_Style_Add_AffiliationTest09()[pri:0, instance:com.AuthorNameAreaAddAffiliation.NumberStyleAddAffiliation09@de3a06f]">Number_Style_Add_AffiliationTest09</td> 
  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="6a64ae">  <td>19/01/03 18:10:47</td>   <td>2460422</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NumberStyleAddAffiliation09.Number_Style_Add_AffiliationTest09()[pri:0, instance:com.AuthorNameAreaAddAffiliation.NumberStyleAddAffiliation09@365c30cc]">Number_Style_Add_AffiliationTest09</td> 
  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="6279ee">  <td>19/01/03 17:31:24</td>   <td>97337</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AlphabetBaseClass.closeApplication()[pri:0, instance:com.AuthorNameAreaAddAffiliation.AlphabetStyleAddAffiliation01@4b9e255]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="6279ee">  <td>19/01/03 17:32:13</td>   <td>146194</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AlphabetBaseClass.closeApplication()[pri:0, instance:com.AuthorNameAreaAddAffiliation.AlphabetStyleAddAffiliation02@5e57643e]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="6279ee">  <td>19/01/03 17:33:13</td>   <td>206663</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AlphabetBaseClass.closeApplication()[pri:0, instance:com.AuthorNameAreaAddAffiliation.AlphabetStyleAddAffiliation03@133e16fd]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="6279ee">  <td>19/01/03 17:34:17</td>   <td>270384</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AlphabetBaseClass.closeApplication()[pri:0, instance:com.AuthorNameAreaAddAffiliation.AlphabetStyleAddAffiliation04@51b279c9]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="6279ee">  <td>19/01/03 17:35:05</td>   <td>318980</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AlphabetBaseClass.closeApplication()[pri:0, instance:com.AuthorNameAreaAddAffiliation.AlphabetStyleAddAffiliation05@1ad282e0]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="6279ee">  <td>19/01/03 17:35:57</td>   <td>370174</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AlphabetBaseClass.closeApplication()[pri:0, instance:com.AuthorNameAreaAddAffiliation.AlphabetStyleAddAffiliation06@7f416310]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="6279ee">  <td>19/01/03 17:36:47</td>   <td>420775</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AlphabetBaseClass.closeApplication()[pri:0, instance:com.AuthorNameAreaAddAffiliation.AlphabetStyleAddAffiliation07@1cab0bfb]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="6279ee">  <td>19/01/03 17:37:50</td>   <td>483657</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AlphabetBaseClass.closeApplication()[pri:0, instance:com.AuthorNameAreaAddAffiliation.AlphabetStyleAddAffiliation08@5e955596]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="6279ee">  <td>19/01/03 17:38:51</td>   <td>544458</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AlphabetBaseClass.closeApplication()[pri:0, instance:com.AuthorNameAreaAddAffiliation.AlphabetStyleAddAffiliation09@50de0926]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="6a87b3">  <td>19/01/03 17:43:00</td>   <td>793353</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NumberBaseClass.closeApplication()[pri:0, instance:com.AuthorNameAreaAddAffiliation.NumberStyleAddAffiliation01@2473b9ce]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="6a87b3">  <td>19/01/03 17:43:49</td>   <td>842247</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NumberBaseClass.closeApplication()[pri:0, instance:com.AuthorNameAreaAddAffiliation.NumberStyleAddAffiliation02@60438a68]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="6a87b3">  <td>19/01/03 17:44:35</td>   <td>888622</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NumberBaseClass.closeApplication()[pri:0, instance:com.AuthorNameAreaAddAffiliation.NumberStyleAddAffiliation03@140e5a13]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="6a87b3">  <td>19/01/03 17:45:37</td>   <td>951098</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NumberBaseClass.closeApplication()[pri:0, instance:com.AuthorNameAreaAddAffiliation.NumberStyleAddAffiliation04@3439f68d]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="6a87b3">  <td>19/01/03 17:46:28</td>   <td>1001670</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NumberBaseClass.closeApplication()[pri:0, instance:com.AuthorNameAreaAddAffiliation.NumberStyleAddAffiliation05@dbd940d]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="6a87b3">  <td>19/01/03 17:47:19</td>   <td>1052439</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NumberBaseClass.closeApplication()[pri:0, instance:com.AuthorNameAreaAddAffiliation.NumberStyleAddAffiliation06@71d15f18]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="6a87b3">  <td>19/01/03 17:48:08</td>   <td>1101574</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NumberBaseClass.closeApplication()[pri:0, instance:com.AuthorNameAreaAddAffiliation.NumberStyleAddAffiliation07@17695df3]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="6a87b3">  <td>19/01/03 17:49:10</td>   <td>1163418</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NumberBaseClass.closeApplication()[pri:0, instance:com.AuthorNameAreaAddAffiliation.NumberStyleAddAffiliation08@6c9f5c0d]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="6a87b3">  <td>19/01/03 17:50:04</td>   <td>1217961</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NumberBaseClass.closeApplication()[pri:0, instance:com.AuthorNameAreaAddAffiliation.NumberStyleAddAffiliation09@de3a06f]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="6279ee">  <td>19/01/03 17:52:10</td>   <td>1343881</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AlphabetBaseClass.closeApplication()[pri:0, instance:com.AuthorNameAreaAddAffiliation.AlphabetStyleAddAffiliation01@679b62af]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="6279ee">  <td>19/01/03 17:52:59</td>   <td>1392691</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AlphabetBaseClass.closeApplication()[pri:0, instance:com.AuthorNameAreaAddAffiliation.AlphabetStyleAddAffiliation02@5cdd8682]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="6279ee">  <td>19/01/03 17:54:01</td>   <td>1454580</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AlphabetBaseClass.closeApplication()[pri:0, instance:com.AuthorNameAreaAddAffiliation.AlphabetStyleAddAffiliation03@d6da883]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="6279ee">  <td>19/01/03 17:55:05</td>   <td>1518652</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AlphabetBaseClass.closeApplication()[pri:0, instance:com.AuthorNameAreaAddAffiliation.AlphabetStyleAddAffiliation04@45afc369]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="6279ee">  <td>19/01/03 17:55:53</td>   <td>1566619</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AlphabetBaseClass.closeApplication()[pri:0, instance:com.AuthorNameAreaAddAffiliation.AlphabetStyleAddAffiliation05@799d4f69]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="6279ee">  <td>19/01/03 17:56:43</td>   <td>1616580</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AlphabetBaseClass.closeApplication()[pri:0, instance:com.AuthorNameAreaAddAffiliation.AlphabetStyleAddAffiliation06@49c43f4e]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="6279ee">  <td>19/01/03 17:57:33</td>   <td>1666807</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AlphabetBaseClass.closeApplication()[pri:0, instance:com.AuthorNameAreaAddAffiliation.AlphabetStyleAddAffiliation07@290dbf45]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="6279ee">  <td>19/01/03 17:58:36</td>   <td>1729732</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AlphabetBaseClass.closeApplication()[pri:0, instance:com.AuthorNameAreaAddAffiliation.AlphabetStyleAddAffiliation08@12028586]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="6279ee">  <td>19/01/03 17:59:40</td>   <td>1793393</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AlphabetBaseClass.closeApplication()[pri:0, instance:com.AuthorNameAreaAddAffiliation.AlphabetStyleAddAffiliation09@17776a8]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="6a87b3">  <td>19/01/03 18:04:08</td>   <td>2061990</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NumberBaseClass.closeApplication()[pri:0, instance:com.AuthorNameAreaAddAffiliation.NumberStyleAddAffiliation01@69a10787]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="6a87b3">  <td>19/01/03 18:04:58</td>   <td>2111615</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NumberBaseClass.closeApplication()[pri:0, instance:com.AuthorNameAreaAddAffiliation.NumberStyleAddAffiliation02@2d127a61]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="6a87b3">  <td>19/01/03 18:05:47</td>   <td>2161049</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NumberBaseClass.closeApplication()[pri:0, instance:com.AuthorNameAreaAddAffiliation.NumberStyleAddAffiliation03@2bbaf4f0]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="6a87b3">  <td>19/01/03 18:06:50</td>   <td>2223532</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NumberBaseClass.closeApplication()[pri:0, instance:com.AuthorNameAreaAddAffiliation.NumberStyleAddAffiliation04@11c20519]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="6a87b3">  <td>19/01/03 18:07:41</td>   <td>2275106</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NumberBaseClass.closeApplication()[pri:0, instance:com.AuthorNameAreaAddAffiliation.NumberStyleAddAffiliation05@70beb599]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="6a87b3">  <td>19/01/03 18:08:36</td>   <td>2329167</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NumberBaseClass.closeApplication()[pri:0, instance:com.AuthorNameAreaAddAffiliation.NumberStyleAddAffiliation06@4e41089d]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="6a87b3">  <td>19/01/03 18:09:26</td>   <td>2379708</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NumberBaseClass.closeApplication()[pri:0, instance:com.AuthorNameAreaAddAffiliation.NumberStyleAddAffiliation07@32a068d1]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="6a87b3">  <td>19/01/03 18:10:32</td>   <td>2445236</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NumberBaseClass.closeApplication()[pri:0, instance:com.AuthorNameAreaAddAffiliation.NumberStyleAddAffiliation08@33cb5951]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="6a87b3">  <td>19/01/03 18:11:28</td>   <td>2501390</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NumberBaseClass.closeApplication()[pri:0, instance:com.AuthorNameAreaAddAffiliation.NumberStyleAddAffiliation09@365c30cc]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="6279ee">  <td>19/01/03 17:29:27</td>   <td>-19328</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AlphabetBaseClass.setupApplication(java.lang.String)[pri:0, instance:com.AuthorNameAreaAddAffiliation.AlphabetStyleAddAffiliation01@4b9e255]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="6279ee">  <td>19/01/03 17:31:28</td>   <td>101171</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AlphabetBaseClass.setupApplication(java.lang.String)[pri:0, instance:com.AuthorNameAreaAddAffiliation.AlphabetStyleAddAffiliation02@5e57643e]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="6279ee">  <td>19/01/03 17:32:16</td>   <td>150009</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AlphabetBaseClass.setupApplication(java.lang.String)[pri:0, instance:com.AuthorNameAreaAddAffiliation.AlphabetStyleAddAffiliation03@133e16fd]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="6279ee">  <td>19/01/03 17:33:17</td>   <td>210379</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AlphabetBaseClass.setupApplication(java.lang.String)[pri:0, instance:com.AuthorNameAreaAddAffiliation.AlphabetStyleAddAffiliation04@51b279c9]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="6279ee">  <td>19/01/03 17:34:20</td>   <td>274068</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AlphabetBaseClass.setupApplication(java.lang.String)[pri:0, instance:com.AuthorNameAreaAddAffiliation.AlphabetStyleAddAffiliation05@1ad282e0]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="6279ee">  <td>19/01/03 17:35:09</td>   <td>322771</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AlphabetBaseClass.setupApplication(java.lang.String)[pri:0, instance:com.AuthorNameAreaAddAffiliation.AlphabetStyleAddAffiliation06@7f416310]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="6279ee">  <td>19/01/03 17:36:00</td>   <td>373921</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AlphabetBaseClass.setupApplication(java.lang.String)[pri:0, instance:com.AuthorNameAreaAddAffiliation.AlphabetStyleAddAffiliation07@1cab0bfb]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="6279ee">  <td>19/01/03 17:36:51</td>   <td>424630</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AlphabetBaseClass.setupApplication(java.lang.String)[pri:0, instance:com.AuthorNameAreaAddAffiliation.AlphabetStyleAddAffiliation08@5e955596]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="6279ee">  <td>19/01/03 17:37:54</td>   <td>487447</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AlphabetBaseClass.setupApplication(java.lang.String)[pri:0, instance:com.AuthorNameAreaAddAffiliation.AlphabetStyleAddAffiliation09@50de0926]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="6a87b3">  <td>19/01/03 17:38:55</td>   <td>548329</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NumberBaseClass.setupApplication(java.lang.String)[pri:0, instance:com.AuthorNameAreaAddAffiliation.NumberStyleAddAffiliation01@2473b9ce]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="6a87b3">  <td>19/01/03 17:43:03</td>   <td>797149</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NumberBaseClass.setupApplication(java.lang.String)[pri:0, instance:com.AuthorNameAreaAddAffiliation.NumberStyleAddAffiliation02@60438a68]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="6a87b3">  <td>19/01/03 17:43:52</td>   <td>845994</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NumberBaseClass.setupApplication(java.lang.String)[pri:0, instance:com.AuthorNameAreaAddAffiliation.NumberStyleAddAffiliation03@140e5a13]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="6a87b3">  <td>19/01/03 17:44:39</td>   <td>892415</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NumberBaseClass.setupApplication(java.lang.String)[pri:0, instance:com.AuthorNameAreaAddAffiliation.NumberStyleAddAffiliation04@3439f68d]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="6a87b3">  <td>19/01/03 17:45:41</td>   <td>954848</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NumberBaseClass.setupApplication(java.lang.String)[pri:0, instance:com.AuthorNameAreaAddAffiliation.NumberStyleAddAffiliation05@dbd940d]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="6a87b3">  <td>19/01/03 17:46:32</td>   <td>1005435</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NumberBaseClass.setupApplication(java.lang.String)[pri:0, instance:com.AuthorNameAreaAddAffiliation.NumberStyleAddAffiliation06@71d15f18]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="6a87b3">  <td>19/01/03 17:47:23</td>   <td>1056204</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NumberBaseClass.setupApplication(java.lang.String)[pri:0, instance:com.AuthorNameAreaAddAffiliation.NumberStyleAddAffiliation07@17695df3]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="6a87b3">  <td>19/01/03 17:48:12</td>   <td>1105379</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NumberBaseClass.setupApplication(java.lang.String)[pri:0, instance:com.AuthorNameAreaAddAffiliation.NumberStyleAddAffiliation08@6c9f5c0d]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="6a87b3">  <td>19/01/03 17:49:14</td>   <td>1167184</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NumberBaseClass.setupApplication(java.lang.String)[pri:0, instance:com.AuthorNameAreaAddAffiliation.NumberStyleAddAffiliation09@de3a06f]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="6279ee">  <td>19/01/03 17:50:08</td>   <td>1221872</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AlphabetBaseClass.setupApplication(java.lang.String)[pri:0, instance:com.AuthorNameAreaAddAffiliation.AlphabetStyleAddAffiliation01@679b62af]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="6279ee">  <td>19/01/03 17:52:14</td>   <td>1347899</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AlphabetBaseClass.setupApplication(java.lang.String)[pri:0, instance:com.AuthorNameAreaAddAffiliation.AlphabetStyleAddAffiliation02@5cdd8682]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="6279ee">  <td>19/01/03 17:53:03</td>   <td>1396863</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AlphabetBaseClass.setupApplication(java.lang.String)[pri:0, instance:com.AuthorNameAreaAddAffiliation.AlphabetStyleAddAffiliation03@d6da883]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="6279ee">  <td>19/01/03 17:54:05</td>   <td>1458616</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AlphabetBaseClass.setupApplication(java.lang.String)[pri:0, instance:com.AuthorNameAreaAddAffiliation.AlphabetStyleAddAffiliation04@45afc369]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="6279ee">  <td>19/01/03 17:55:09</td>   <td>1522879</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AlphabetBaseClass.setupApplication(java.lang.String)[pri:0, instance:com.AuthorNameAreaAddAffiliation.AlphabetStyleAddAffiliation05@799d4f69]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="6279ee">  <td>19/01/03 17:55:57</td>   <td>1570662</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AlphabetBaseClass.setupApplication(java.lang.String)[pri:0, instance:com.AuthorNameAreaAddAffiliation.AlphabetStyleAddAffiliation06@49c43f4e]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="6279ee">  <td>19/01/03 17:56:47</td>   <td>1620809</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AlphabetBaseClass.setupApplication(java.lang.String)[pri:0, instance:com.AuthorNameAreaAddAffiliation.AlphabetStyleAddAffiliation07@290dbf45]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="6279ee">  <td>19/01/03 17:57:37</td>   <td>1670936</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AlphabetBaseClass.setupApplication(java.lang.String)[pri:0, instance:com.AuthorNameAreaAddAffiliation.AlphabetStyleAddAffiliation08@12028586]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="6279ee">  <td>19/01/03 17:58:40</td>   <td>1733846</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AlphabetBaseClass.setupApplication(java.lang.String)[pri:0, instance:com.AuthorNameAreaAddAffiliation.AlphabetStyleAddAffiliation09@17776a8]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="6a87b3">  <td>19/01/03 17:59:44</td>   <td>1797438</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NumberBaseClass.setupApplication(java.lang.String)[pri:0, instance:com.AuthorNameAreaAddAffiliation.NumberStyleAddAffiliation01@69a10787]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="6a87b3">  <td>19/01/03 18:04:12</td>   <td>2065947</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NumberBaseClass.setupApplication(java.lang.String)[pri:0, instance:com.AuthorNameAreaAddAffiliation.NumberStyleAddAffiliation02@2d127a61]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="6a87b3">  <td>19/01/03 18:05:02</td>   <td>2115754</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NumberBaseClass.setupApplication(java.lang.String)[pri:0, instance:com.AuthorNameAreaAddAffiliation.NumberStyleAddAffiliation03@2bbaf4f0]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="6a87b3">  <td>19/01/03 18:05:52</td>   <td>2165175</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NumberBaseClass.setupApplication(java.lang.String)[pri:0, instance:com.AuthorNameAreaAddAffiliation.NumberStyleAddAffiliation04@11c20519]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="6a87b3">  <td>19/01/03 18:06:54</td>   <td>2227571</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NumberBaseClass.setupApplication(java.lang.String)[pri:0, instance:com.AuthorNameAreaAddAffiliation.NumberStyleAddAffiliation05@70beb599]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="6a87b3">  <td>19/01/03 18:07:46</td>   <td>2279318</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NumberBaseClass.setupApplication(java.lang.String)[pri:0, instance:com.AuthorNameAreaAddAffiliation.NumberStyleAddAffiliation06@4e41089d]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="6a87b3">  <td>19/01/03 18:08:40</td>   <td>2333178</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NumberBaseClass.setupApplication(java.lang.String)[pri:0, instance:com.AuthorNameAreaAddAffiliation.NumberStyleAddAffiliation07@32a068d1]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="6a87b3">  <td>19/01/03 18:09:30</td>   <td>2384058</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NumberBaseClass.setupApplication(java.lang.String)[pri:0, instance:com.AuthorNameAreaAddAffiliation.NumberStyleAddAffiliation08@33cb5951]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1295226194</td>   <td></td> </tr>
<tr bgcolor="6a87b3">  <td>19/01/03 18:10:36</td>   <td>2449303</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NumberBaseClass.setupApplication(java.lang.String)[pri:0, instance:com.AuthorNameAreaAddAffiliation.NumberStyleAddAffiliation09@365c30cc]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1295226194</td>   <td></td> </tr>
</table>
