<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>CUP figureContain regression test</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6fa38a">  <td>19/10/17 15:49:28</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CupEditorEndLinkGenrationChromeTestcase.CUPLinkGenrationFuntionForChromePEFigureContain(java.lang.String)[pri:0, instance:com.LinkGenrationTestModule.CupEditorEndLinkGenrationChromeTestcase@5cb9f472]">&gt;&gt;CUPLinkGenrationFuntionForChromePEFigureContain</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1709366259</td>   <td></td> </tr>
<tr bgcolor="6fa38a">  <td>19/10/17 15:55:04</td>   <td>336090</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CupEditorEndLinkGenrationChromeTestcase.PE_OrcidTest01()[pri:65, instance:com.LinkGenrationTestModule.CupEditorEndLinkGenrationChromeTestcase@5cb9f472]">PE_OrcidTest01</td> 
  <td>main@1709366259</td>   <td></td> </tr>
<tr bgcolor="6fa38a">  <td>19/10/17 15:55:04</td>   <td>336377</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CupEditorEndLinkGenrationChromeTestcase.PE_OrcidTest02()[pri:66, instance:com.LinkGenrationTestModule.CupEditorEndLinkGenrationChromeTestcase@5cb9f472]">PE_OrcidTest02</td> 
  <td>main@1709366259</td>   <td></td> </tr>
<tr bgcolor="6fa38a">  <td>19/10/17 15:55:08</td>   <td>339698</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CupEditorEndLinkGenrationChromeTestcase.PE_OrcidTest03()[pri:67, instance:com.LinkGenrationTestModule.CupEditorEndLinkGenrationChromeTestcase@5cb9f472]">PE_OrcidTest03</td> 
  <td>main@1709366259</td>   <td></td> </tr>
<tr bgcolor="6fa38a">  <td>19/10/17 15:55:11</td>   <td>342924</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CupEditorEndLinkGenrationChromeTestcase.PE_OrcidTest04()[pri:68, instance:com.LinkGenrationTestModule.CupEditorEndLinkGenrationChromeTestcase@5cb9f472]">PE_OrcidTest04</td> 
  <td>main@1709366259</td>   <td></td> </tr>
<tr bgcolor="6fa38a">  <td>19/10/17 15:50:58</td>   <td>90344</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CupEditorEndLinkGenrationChromeTestcase.TestFigureCaption01()[pri:2, instance:com.LinkGenrationTestModule.CupEditorEndLinkGenrationChromeTestcase@5cb9f472]">TestFigureCaption01</td> 
  <td>main@1709366259</td>   <td></td> </tr>
<tr bgcolor="6fa38a">  <td>19/10/17 15:55:11</td>   <td>343141</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CupEditorEndLinkGenrationChromeTestcase.tearDown()[pri:0, instance:com.LinkGenrationTestModule.CupEditorEndLinkGenrationChromeTestcase@5cb9f472]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1709366259</td>   <td></td> </tr>
</table>
