<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>ieSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a068d1">  <td>18/11/29 20:07:36</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddTextParagraph.add()[pri:0, instance:com.EG2.mainscript.AddTextParagraph@3c153a1]">add</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="b0d3ed">  <td>18/11/29 19:47:31</td>   <td>-1205289</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddtextinTable.addtext()[pri:0, instance:com.EG2.mainscript.AddtextinTable@f2f2cc1]">addtext</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="628d9d">  <td>18/11/29 20:02:35</td>   <td>-301422</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Submit_btn.authorquery()[pri:0, instance:com.EG2.mainscript.Submit_btn@2bbf180e]">authorquery</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="6ec1f8">  <td>18/11/29 20:07:36</td>   <td>84</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Publish_btn.authorquery()[pri:0, instance:com.EG2.mainscript.Publish_btn@4b14c583]">authorquery</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="60a4d7">  <td>18/11/29 20:07:36</td>   <td>137</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AQResponse6.authorquery()[pri:0, instance:com.EG2.mainscript.AQResponse6@6e75aa0d]">authorquery</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="6be46f">  <td>18/11/29 20:07:36</td>   <td>144</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AQResponse1.authorquery()[pri:0, instance:com.EG2.mainscript.AQResponse1@2f177a4b]">authorquery</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="6ab0da">  <td>18/11/29 20:07:36</td>   <td>146</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AQResponse2.authorquery()[pri:0, instance:com.EG2.mainscript.AQResponse2@78b729e6]">authorquery</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="7badd3">  <td>18/11/29 20:07:36</td>   <td>149</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AQResponse3.authorquery()[pri:0, instance:com.EG2.mainscript.AQResponse3@7a52f2a2]">authorquery</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="be656f">  <td>18/11/29 20:07:36</td>   <td>150</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AQResponse4.authorquery()[pri:0, instance:com.EG2.mainscript.AQResponse4@6b4a4e18]">authorquery</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="dc67c2">  <td>18/11/29 20:07:36</td>   <td>151</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AQResponse5.authorquery()[pri:0, instance:com.EG2.mainscript.AQResponse5@16aa0a0a]">authorquery</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="afc369">  <td>18/11/29 20:07:36</td>   <td>-26</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BoldText.bold()[pri:0, instance:com.EG2.mainscript.BoldText@4b44655e]">bold</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="9ba6c3">  <td>18/11/29 20:07:36</td>   <td>143</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddCrosscitation.citation()[pri:0, instance:com.EG2.mainscript.AddCrosscitation@2ea227af]">citation</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="debc8c">  <td>18/11/29 19:47:31</td>   <td>-1205287</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddComment_GreekText.comment()[pri:0, instance:com.EG2.mainscript.AddComment_GreekText@30b7c004]">comment</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="b279c9">  <td>18/11/29 20:02:35</td>   <td>-301299</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ItalicComment.comment()[pri:0, instance:com.EG2.mainscript.ItalicComment@5db45159]">comment</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="8374f0">  <td>18/11/29 20:02:35</td>   <td>-301219</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddComment_ArrowText.comment()[pri:0, instance:com.EG2.mainscript.AddComment_ArrowText@2ddc8ecb]">comment</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="6498c9">  <td>18/11/29 20:02:35</td>   <td>-301194</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddComment_GeometricText.comment()[pri:0, instance:com.EG2.mainscript.AddComment_GeometricText@5276e6b0]">comment</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="6aad6c">  <td>18/11/29 20:07:36</td>   <td>-38</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddComment_CurrencyText.comment()[pri:0, instance:com.EG2.mainscript.AddComment_CurrencyText@2893de87]">comment</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="a16787">  <td>18/11/29 20:07:36</td>   <td>-11</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddComment_LatinText.comment()[pri:0, instance:com.EG2.mainscript.AddComment_LatinText@691a7f8f]">comment</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="8063e1">  <td>18/11/29 20:07:36</td>   <td>20</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BoldComment.comment()[pri:0, instance:com.EG2.mainscript.BoldComment@12e61fe6]">comment</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="bb84a3">  <td>18/11/29 20:07:36</td>   <td>61</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddComment_MathText.comment()[pri:0, instance:com.EG2.mainscript.AddComment_MathText@78e117e3]">comment</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="717884">  <td>18/11/29 20:07:36</td>   <td>135</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddComment_Specialcharacter.comment()[pri:0, instance:com.EG2.mainscript.AddComment_Specialcharacter@79efed2d]">comment</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="d9bc64">  <td>18/11/29 20:07:36</td>   <td>140</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UnderlineComment.comment()[pri:0, instance:com.EG2.mainscript.UnderlineComment@1ed1993a]">comment</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="6e6aa2">  <td>18/11/29 18:32:06</td>   <td>-5730111</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="History.copyright()[pri:0, instance:com.EG2.mainscript.History@8909f18]">copyright</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="b185bd">  <td>18/11/29 18:33:46</td>   <td>-5630193</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EdDeleteFigCaption2.copyright()[pri:0, instance:com.EG2.Editorend.EdDeleteFigCaption2@48aaecc3]">copyright</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="bf9d74">  <td>18/11/29 18:35:00</td>   <td>-5556034</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EdDeleteFigCaption1.copyright()[pri:0, instance:com.EG2.Editorend.EdDeleteFigCaption1@769e7ee8]">copyright</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="b6a261">  <td>18/11/29 18:36:15</td>   <td>-5481131</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Author_Name_Comment.copyright()[pri:0, instance:com.EG2.mainscript.Author_Name_Comment@1f0f1111]">copyright</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="bbf683">  <td>18/11/29 18:42:37</td>   <td>-5099159</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="References_Comment.copyright()[pri:0, instance:com.EG2.mainscript.References_Comment@3d121db3]">copyright</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="c8817c">  <td>18/11/29 18:44:14</td>   <td>-5001926</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Copyright_Line.copyright()[pri:0, instance:com.EG2.mainscript.Copyright_Line@7f010382]">copyright</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="9fc5a2">  <td>18/11/29 18:48:25</td>   <td>-4750905</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DeleteAbstract2.copyright()[pri:0, instance:com.EG2.mainscript.DeleteAbstract2@7a4ccb53]">copyright</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="b0c1b8">  <td>18/11/29 18:51:44</td>   <td>-4551648</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EdDeleteParagraph1.copyright()[pri:0, instance:com.EG2.Editorend.EdDeleteParagraph1@2c34f934]">copyright</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="84a17f">  <td>18/11/29 18:53:38</td>   <td>-4437966</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EdDeleteParagraph2.copyright()[pri:0, instance:com.EG2.Editorend.EdDeleteParagraph2@23282c25]">copyright</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="7e7863">  <td>18/11/29 18:56:35</td>   <td>-4260868</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DeleteAbstract1.copyright()[pri:0, instance:com.EG2.mainscript.DeleteAbstract1@5ef60048]">copyright</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="a095a0">  <td>18/11/29 19:08:18</td>   <td>-3558127</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DeleteTableLabel2.copyright()[pri:0, instance:com.EG2.mainscript.DeleteTableLabel2@23f7d05d]">copyright</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="b4b0af">  <td>18/11/29 19:12:55</td>   <td>-3281179</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DeleteTableLabel1.copyright()[pri:0, instance:com.EG2.mainscript.DeleteTableLabel1@4fe767f3]">copyright</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="846d8c">  <td>18/11/29 19:22:25</td>   <td>-2711167</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractHead.copyright()[pri:0, instance:com.EG2.mainscript.AbstractHead@11dc3715]">copyright</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="f27fae">  <td>18/11/29 19:37:28</td>   <td>-1807524</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Conclusion_Heading.copyright()[pri:0, instance:com.EG2.mainscript.Conclusion_Heading@475e586c]">copyright</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="e88894">  <td>18/11/29 20:02:35</td>   <td>-301430</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Right_Panel_Text.copyright()[pri:0, instance:com.EG2.mainscript.Right_Panel_Text@6107227e]">copyright</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="a3ec6b">  <td>18/11/29 20:02:35</td>   <td>-301417</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Para_Comment.copyright()[pri:0, instance:com.EG2.mainscript.Para_Comment@290d210d]">copyright</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="698dc7">  <td>18/11/29 20:02:35</td>   <td>-301352</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Orcid_Heading.copyright()[pri:0, instance:com.EG2.mainscript.Orcid_Heading@71b1176b]">copyright</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="7acb94">  <td>18/11/29 20:02:35</td>   <td>-301328</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Editgenie_Logo.copyright()[pri:0, instance:com.EG2.mainscript.Editgenie_Logo@55a561cf]">copyright</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="ab6bfb">  <td>18/11/29 20:02:35</td>   <td>-301291</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DeleteCorresponding1.copyright()[pri:0, instance:com.EG2.mainscript.DeleteCorresponding1@65d6b83b]">copyright</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="f38bf7">  <td>18/11/29 20:02:35</td>   <td>-301216</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FundingHead.copyright()[pri:0, instance:com.EG2.mainscript.FundingHead@20d3d15a]">copyright</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="6672ba">  <td>18/11/29 20:02:35</td>   <td>-301215</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EdDeleteCorresponding1.copyright()[pri:0, instance:com.EG2.Editorend.EdDeleteCorresponding1@5dd6264]">copyright</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="b37288">  <td>18/11/29 20:02:35</td>   <td>-301190</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DeleteParagraph1.copyright()[pri:0, instance:com.EG2.mainscript.DeleteParagraph1@3b07a0d6]">copyright</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="a57272">  <td>18/11/29 20:07:36</td>   <td>-61</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Attachement.copyright()[pri:0, instance:com.EG2.mainscript.Attachement@49c386c8]">copyright</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="a2d7b5">  <td>18/11/29 20:07:36</td>   <td>-52</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DeleteParagraph2.copyright()[pri:0, instance:com.EG2.mainscript.DeleteParagraph2@65466a6a]">copyright</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="e867c6">  <td>18/11/29 20:07:36</td>   <td>-40</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EdDeleteTableLabel1.copyright()[pri:0, instance:com.EG2.Editorend.EdDeleteTableLabel1@37918c79]">copyright</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="77cdab">  <td>18/11/29 20:07:36</td>   <td>-37</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EdDeleteTableLabel2.copyright()[pri:0, instance:com.EG2.Editorend.EdDeleteTableLabel2@657c8ad9]">copyright</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="6da883">  <td>18/11/29 20:07:36</td>   <td>-28</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Article_title.copyright()[pri:0, instance:com.EG2.mainscript.Article_title@433d61fb]">copyright</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="9daf69">  <td>18/11/29 20:07:36</td>   <td>-25</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Reference_Heading.copyright()[pri:0, instance:com.EG2.mainscript.Reference_Heading@2133814f]">copyright</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="c49fae">  <td>18/11/29 20:07:36</td>   <td>-23</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DeleteFigCaption1.copyright()[pri:0, instance:com.EG2.mainscript.DeleteFigCaption1@60611244]">copyright</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="6dbfa5">  <td>18/11/29 20:07:36</td>   <td>-19</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DeleteFigCaption2.copyright()[pri:0, instance:com.EG2.mainscript.DeleteFigCaption2@5906ebcb]">copyright</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="628586">  <td>18/11/29 20:07:36</td>   <td>-18</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Table_Caption.copyright()[pri:0, instance:com.EG2.mainscript.Table_Caption@309e345f]">copyright</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="7776a8">  <td>18/11/29 20:07:36</td>   <td>-13</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Appendix_Heading.copyright()[pri:0, instance:com.EG2.mainscript.Appendix_Heading@794cb805]">copyright</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="c26579">  <td>18/11/29 20:07:36</td>   <td>-5</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RectoHead.copyright()[pri:0, instance:com.EG2.mainscript.RectoHead@197d671]">copyright</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="cbb9b1">  <td>18/11/29 20:07:36</td>   <td>2</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="KeywordHead.copyright()[pri:0, instance:com.EG2.mainscript.KeywordHead@1a0dcaa]">copyright</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="bc90cc">  <td>18/11/29 20:07:36</td>   <td>3</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="IntroductionHead.copyright()[pri:0, instance:com.EG2.mainscript.IntroductionHead@5e4c8041]">copyright</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="a8dba8">  <td>18/11/29 20:07:36</td>   <td>18</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VersoHead.copyright()[pri:0, instance:com.EG2.mainscript.VersoHead@55a1c291]">copyright</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="9e72ba">  <td>18/11/29 20:07:36</td>   <td>138</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Editgenie_Logo_color.copyright()[pri:0, instance:com.EG2.mainscript.Editgenie_Logo_color@7ea37dbf]">copyright</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="8fdd99">  <td>18/11/29 20:07:36</td>   <td>201</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AuthorAffiliation.copyright()[pri:0, instance:com.EG2.mainscript.AuthorAffiliation@212bf671]">copyright</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="a8d97c">  <td>18/11/29 20:07:36</td>   <td>207</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Figure_Caption.copyright()[pri:0, instance:com.EG2.mainscript.Figure_Caption@4387b79e]">copyright</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="607aaf">  <td>18/11/29 18:38:00</td>   <td>-5376325</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EdDeletion7.delete()[pri:0, instance:com.EG2.Editorend.EdDeletion7@e50a6f6]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="8663d3">  <td>18/11/29 18:39:04</td>   <td>-5311631</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EdDeletion6.delete()[pri:0, instance:com.EG2.Editorend.EdDeletion6@5c909414]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="90a6be">  <td>18/11/29 18:40:08</td>   <td>-5247580</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EdDeletion9.delete()[pri:0, instance:com.EG2.Editorend.EdDeletion9@161479c6]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="a8baa7">  <td>18/11/29 18:41:43</td>   <td>-5153283</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EdDeletion8.delete()[pri:0, instance:com.EG2.Editorend.EdDeletion8@240237d2]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="ad6e83">  <td>18/11/29 19:01:31</td>   <td>-3965379</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EdInsertDelete22.delete()[pri:0, instance:com.EG2.Editorend.EdInsertDelete22@501edcf1]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="a0cee9">  <td>18/11/29 19:02:30</td>   <td>-3905708</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EdInsertDelete23.delete()[pri:0, instance:com.EG2.Editorend.EdInsertDelete23@12d4bf7e]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="b27172">  <td>18/11/29 19:03:40</td>   <td>-3835523</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EdInsertDelete20.delete()[pri:0, instance:com.EG2.Editorend.EdInsertDelete20@163e4e87]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="da69a0">  <td>18/11/29 19:04:42</td>   <td>-3773812</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EdInsertDelete21.delete()[pri:0, instance:com.EG2.Editorend.EdInsertDelete21@43301423]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="b467e9">  <td>18/11/29 19:09:27</td>   <td>-3489116</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InsertSpclcharacter2.delete()[pri:0, instance:com.EG2.mainscript.InsertSpclcharacter2@436a4e4b]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="7a75ff">  <td>18/11/29 19:17:24</td>   <td>-3011724</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EdInsertDelete19.delete()[pri:0, instance:com.EG2.Editorend.EdInsertDelete19@4b5a5ed1]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="786a70">  <td>18/11/29 19:18:23</td>   <td>-2953061</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EdInsertDelete17.delete()[pri:0, instance:com.EG2.Editorend.EdInsertDelete17@2aa5fe93]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="6279ee">  <td>18/11/29 19:19:26</td>   <td>-2889586</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EdInsertDelete18.delete()[pri:0, instance:com.EG2.Editorend.EdInsertDelete18@4445629]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="b997b1">  <td>18/11/29 19:20:30</td>   <td>-2826057</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EdInsertDelete15.delete()[pri:0, instance:com.EG2.Editorend.EdInsertDelete15@3cc2931c]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="f4d588">  <td>18/11/29 19:21:19</td>   <td>-2776956</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EdInsertDelete16.delete()[pri:0, instance:com.EG2.Editorend.EdInsertDelete16@5ccddd20]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="8ad79b">  <td>18/11/29 19:28:36</td>   <td>-2339892</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EdInsertDelete13.delete()[pri:0, instance:com.EG2.Editorend.EdInsertDelete13@647fd8ce]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="768664">  <td>18/11/29 19:32:27</td>   <td>-2108556</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EdInsertDelete14.delete()[pri:0, instance:com.EG2.Editorend.EdInsertDelete14@b62fe6d]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="a1e797">  <td>18/11/29 19:32:27</td>   <td>-2108548</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EdInsertDelete11.delete()[pri:0, instance:com.EG2.Editorend.EdInsertDelete11@47542153]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="7863de">  <td>18/11/29 19:32:27</td>   <td>-2108542</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EdInsertDelete12.delete()[pri:0, instance:com.EG2.Editorend.EdInsertDelete12@419c5f1a]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="a981a5">  <td>18/11/29 19:32:27</td>   <td>-2108536</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EdInsertDelete10.delete()[pri:0, instance:com.EG2.Editorend.EdInsertDelete10@7c0c77c7]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="a3b978">  <td>18/11/29 19:37:28</td>   <td>-1807515</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EdDeletion13.delete()[pri:0, instance:com.EG2.Editorend.EdDeletion13@96def03]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="f7c8c1">  <td>18/11/29 19:37:28</td>   <td>-1807508</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EdDeletion14.delete()[pri:0, instance:com.EG2.Editorend.EdDeletion14@48524010]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="6a87b3">  <td>18/11/29 19:37:28</td>   <td>-1807505</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EdDeletion15.delete()[pri:0, instance:com.EG2.Editorend.EdDeletion15@2cbb3d47]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>18/11/29 19:37:28</td>   <td>-1807503</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EdDeletion16.delete()[pri:0, instance:com.EG2.Editorend.EdDeletion16@147ed70f]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="cd6581">  <td>18/11/29 19:37:28</td>   <td>-1807501</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EdDeletion10.delete()[pri:0, instance:com.EG2.Editorend.EdDeletion10@6293abcc]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="d475d9">  <td>18/11/29 19:37:28</td>   <td>-1807498</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EdDeletion11.delete()[pri:0, instance:com.EG2.Editorend.EdDeletion11@12d3a4e9]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>18/11/29 19:37:28</td>   <td>-1807490</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EdDeletion12.delete()[pri:0, instance:com.EG2.Editorend.EdDeletion12@3c9d0b9d]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="f984f5">  <td>18/11/29 19:42:30</td>   <td>-1506420</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AQDeletion8.delete()[pri:0, instance:com.EG2.mainscript.AQDeletion8@7692d9cc]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="79bb86">  <td>18/11/29 19:42:30</td>   <td>-1506412</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Deletion32.delete()[pri:0, instance:com.EG2.mainscript.Deletion32@23986957]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="64668d">  <td>18/11/29 19:42:30</td>   <td>-1506405</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Deletion33.delete()[pri:0, instance:com.EG2.mainscript.Deletion33@161b062a]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="cd79b3">  <td>18/11/29 19:42:30</td>   <td>-1506399</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AQDeletion7.delete()[pri:0, instance:com.EG2.mainscript.AQDeletion7@7c417213]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="6ba293">  <td>18/11/29 19:42:30</td>   <td>-1506394</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Deletion30.delete()[pri:0, instance:com.EG2.mainscript.Deletion30@2928854b]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="d66ad3">  <td>18/11/29 19:42:30</td>   <td>-1506387</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Deletion31.delete()[pri:0, instance:com.EG2.mainscript.Deletion31@1d082e88]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="71946a">  <td>18/11/29 19:47:31</td>   <td>-1205333</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AQDeletion4.delete()[pri:0, instance:com.EG2.mainscript.AQDeletion4@33afa13b]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="96aefa">  <td>18/11/29 19:47:31</td>   <td>-1205325</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AQDeletion3.delete()[pri:0, instance:com.EG2.mainscript.AQDeletion3@10db82ae]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="8171b5">  <td>18/11/29 19:47:31</td>   <td>-1205319</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AQDeletion6.delete()[pri:0, instance:com.EG2.mainscript.AQDeletion6@13acb0d1]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="9d7190">  <td>18/11/29 19:47:31</td>   <td>-1205313</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AQDeletion5.delete()[pri:0, instance:com.EG2.mainscript.AQDeletion5@79ca92b9]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="d59286">  <td>18/11/29 19:47:31</td>   <td>-1205295</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AQDeletion2.delete()[pri:0, instance:com.EG2.mainscript.AQDeletion2@6646153]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="e18270">  <td>18/11/29 19:47:31</td>   <td>-1205292</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AQDeletion1.delete()[pri:0, instance:com.EG2.mainscript.AQDeletion1@6b26e945]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="b2b8a5">  <td>18/11/29 19:47:31</td>   <td>-1205276</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Deletion34.delete()[pri:0, instance:com.EG2.mainscript.Deletion34@14a2f921]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="94d6b9">  <td>18/11/29 19:47:31</td>   <td>-1205274</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Deletion35.delete()[pri:0, instance:com.EG2.mainscript.Deletion35@75329a49]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="a56aac">  <td>18/11/29 19:52:32</td>   <td>-903622</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UpdateAuthorname.delete()[pri:0, instance:com.EG2.Editorend.UpdateAuthorname@3967e60c]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="a57a95">  <td>18/11/29 20:02:35</td>   <td>-301424</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Deletion10.delete()[pri:0, instance:com.EG2.mainscript.Deletion10@4df50bcc]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="9abfbe">  <td>18/11/29 20:02:35</td>   <td>-301419</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Deletion11.delete()[pri:0, instance:com.EG2.mainscript.Deletion11@5bfa9431]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="ca8dfa">  <td>18/11/29 20:02:35</td>   <td>-301407</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EdAQDeletion4.delete()[pri:0, instance:com.EG2.Editorend.EdAQDeletion4@14ec4505]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="a593bf">  <td>18/11/29 20:02:35</td>   <td>-301398</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EdAQDeletion2.delete()[pri:0, instance:com.EG2.Editorend.EdAQDeletion2@4c15e7fd]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="a18f7b">  <td>18/11/29 20:02:35</td>   <td>-301394</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EdAQDeletion3.delete()[pri:0, instance:com.EG2.Editorend.EdAQDeletion3@527e5409]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="c282ae">  <td>18/11/29 20:02:35</td>   <td>-301388</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EdAQDeletion1.delete()[pri:0, instance:com.EG2.Editorend.EdAQDeletion1@15b204a1]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="b871a5">  <td>18/11/29 20:02:35</td>   <td>-301382</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Deletion18.delete()[pri:0, instance:com.EG2.mainscript.Deletion18@4690b489]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="83f5ae">  <td>18/11/29 20:02:35</td>   <td>-301380</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Deletion19.delete()[pri:0, instance:com.EG2.mainscript.Deletion19@38c5cc4c]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="9afc67">  <td>18/11/29 20:02:35</td>   <td>-301378</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EdDeletion1.delete()[pri:0, instance:com.EG2.Editorend.EdDeletion1@4e91d63f]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="8db087">  <td>18/11/29 20:02:35</td>   <td>-301376</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Deletion16.delete()[pri:0, instance:com.EG2.mainscript.Deletion16@78047b92]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="d4cc9e">  <td>18/11/29 20:02:35</td>   <td>-301374</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Deletion17.delete()[pri:0, instance:com.EG2.mainscript.Deletion17@4c1d9d4b]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="6169cf">  <td>18/11/29 20:02:35</td>   <td>-301372</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EdDeletion3.delete()[pri:0, instance:com.EG2.Editorend.EdDeletion3@4313f5bc]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="87c66c">  <td>18/11/29 20:02:35</td>   <td>-301370</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Deletion14.delete()[pri:0, instance:com.EG2.mainscript.Deletion14@2d9d4f9d]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="bbfd87">  <td>18/11/29 20:02:35</td>   <td>-301368</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EdDeletion2.delete()[pri:0, instance:com.EG2.Editorend.EdDeletion2@402e37bc]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="9e716e">  <td>18/11/29 20:02:35</td>   <td>-301366</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Deletion15.delete()[pri:0, instance:com.EG2.mainscript.Deletion15@ec756bd]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="f295b7">  <td>18/11/29 20:02:35</td>   <td>-301364</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EdDeletion5.delete()[pri:0, instance:com.EG2.Editorend.EdDeletion5@d83da2e]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="6f8e63">  <td>18/11/29 20:02:35</td>   <td>-301361</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Deletion12.delete()[pri:0, instance:com.EG2.mainscript.Deletion12@75f32542]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="66ebe0">  <td>18/11/29 20:02:35</td>   <td>-301358</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EdDeletion4.delete()[pri:0, instance:com.EG2.Editorend.EdDeletion4@45dd4eda]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="f7b083">  <td>18/11/29 20:02:35</td>   <td>-301355</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Deletion13.delete()[pri:0, instance:com.EG2.mainscript.Deletion13@3e3047e6]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="baae6e">  <td>18/11/29 20:02:35</td>   <td>-301349</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Deletion21.delete()[pri:0, instance:com.EG2.mainscript.Deletion21@1e802ef9]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="9797b2">  <td>18/11/29 20:02:35</td>   <td>-301348</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Deletion22.delete()[pri:0, instance:com.EG2.mainscript.Deletion22@3b2cf7ab]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="fe9866">  <td>18/11/29 20:02:35</td>   <td>-301346</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Deletion20.delete()[pri:0, instance:com.EG2.mainscript.Deletion20@4ddced80]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="b1b3e0">  <td>18/11/29 20:02:35</td>   <td>-301311</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PEArtTitleInsertDelete7.delete()[pri:0, instance:com.EG2.Editorend.PEArtTitleInsertDelete7@1460a8c0]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="b7649e">  <td>18/11/29 20:02:35</td>   <td>-301308</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PEArtTitleInsertDelete8.delete()[pri:0, instance:com.EG2.Editorend.PEArtTitleInsertDelete8@5c1a8622]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="de6986">  <td>18/11/29 20:02:35</td>   <td>-301283</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Deletion29.delete()[pri:0, instance:com.EG2.mainscript.Deletion29@1534f01b]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="73b9ce">  <td>18/11/29 20:02:35</td>   <td>-301277</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Deletion27.delete()[pri:0, instance:com.EG2.mainscript.Deletion27@1ffe63b9]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="6eba73">  <td>18/11/29 20:02:35</td>   <td>-301269</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Deletion28.delete()[pri:0, instance:com.EG2.mainscript.Deletion28@1d548a08]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="99f68d">  <td>18/11/29 20:02:35</td>   <td>-301266</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Deletion25.delete()[pri:0, instance:com.EG2.mainscript.Deletion25@4f638935]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="d1bf78">  <td>18/11/29 20:02:35</td>   <td>-301254</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Deletion26.delete()[pri:0, instance:com.EG2.mainscript.Deletion26@1d76aeea]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="e3a06f">  <td>18/11/29 20:02:35</td>   <td>-301236</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Deletion23.delete()[pri:0, instance:com.EG2.mainscript.Deletion23@25d250c6]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="b167b4">  <td>18/11/29 20:02:35</td>   <td>-301229</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Deletion24.delete()[pri:0, instance:com.EG2.mainscript.Deletion24@59d016c9]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="89aadb">  <td>18/11/29 20:02:35</td>   <td>-301207</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InsertSpclCharacter1.delete()[pri:0, instance:com.EG2.mainscript.InsertSpclCharacter1@70be0a2b]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="c7b4de">  <td>18/11/29 20:07:36</td>   <td>-34</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UpdateHistory.delete()[pri:0, instance:com.EG2.Editorend.UpdateHistory@2aece37d]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="ad8c79">  <td>18/11/29 20:07:36</td>   <td>22</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InsertDelete21.delete()[pri:0, instance:com.EG2.mainscript.InsertDelete21@778d1062]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="a794e5">  <td>18/11/29 20:07:36</td>   <td>24</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InsertDelete22.delete()[pri:0, instance:com.EG2.mainscript.InsertDelete22@14d3bc22]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="929362">  <td>18/11/29 20:07:36</td>   <td>26</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InsertDelete23.delete()[pri:0, instance:com.EG2.mainscript.InsertDelete23@3c72f59f]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="85a98e">  <td>18/11/29 20:07:36</td>   <td>28</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InsertDelete20.delete()[pri:0, instance:com.EG2.mainscript.InsertDelete20@2a32de6c]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="b59d91">  <td>18/11/29 20:07:36</td>   <td>32</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Delete_Heading1.delete()[pri:0, instance:com.EG2.mainscript.Delete_Heading1@56a6d5a6]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="fdb4a6">  <td>18/11/29 20:07:36</td>   <td>34</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InsertDelete10.delete()[pri:0, instance:com.EG2.mainscript.InsertDelete10@6295d394]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="e27d6e">  <td>18/11/29 20:07:36</td>   <td>36</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DragandDrop5.delete()[pri:0, instance:com.EG2.mainscript.DragandDrop5@7fc2413d]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="d08175">  <td>18/11/29 20:07:36</td>   <td>37</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InsertDelete11.delete()[pri:0, instance:com.EG2.mainscript.InsertDelete11@a4102b8]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="806beb">  <td>18/11/29 20:07:36</td>   <td>39</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InsertDelete12.delete()[pri:0, instance:com.EG2.mainscript.InsertDelete12@78dd667e]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="77a1ed">  <td>18/11/29 20:07:36</td>   <td>42</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InsertDelete13.delete()[pri:0, instance:com.EG2.mainscript.InsertDelete13@2f112965]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="fcd1a0">  <td>18/11/29 20:07:36</td>   <td>44</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DragandDrop2.delete()[pri:0, instance:com.EG2.mainscript.DragandDrop2@7ff95560]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="76dcec">  <td>18/11/29 20:07:36</td>   <td>63</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DragandDrop1.delete()[pri:0, instance:com.EG2.mainscript.DragandDrop1@1a04f701]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="6d6fe6">  <td>18/11/29 20:07:36</td>   <td>65</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DragandDrop4.delete()[pri:0, instance:com.EG2.mainscript.DragandDrop4@60d8c9b7]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="a2ca96">  <td>18/11/29 20:07:36</td>   <td>67</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DragandDrop3.delete()[pri:0, instance:com.EG2.mainscript.DragandDrop3@54c562f7]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="a4d69d">  <td>18/11/29 20:07:36</td>   <td>69</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InsertDelete18.delete()[pri:0, instance:com.EG2.mainscript.InsertDelete18@27c86f2d]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="72eda5">  <td>18/11/29 20:07:36</td>   <td>70</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InsertDelete19.delete()[pri:0, instance:com.EG2.mainscript.InsertDelete19@4b168fa9]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="79c292">  <td>18/11/29 20:07:36</td>   <td>72</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InsertDelete14.delete()[pri:0, instance:com.EG2.mainscript.InsertDelete14@6a01e23]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="b7a691">  <td>18/11/29 20:07:36</td>   <td>74</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InsertDelete15.delete()[pri:0, instance:com.EG2.mainscript.InsertDelete15@48fa0f47]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="959ed8">  <td>18/11/29 20:07:36</td>   <td>79</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InsertDelete16.delete()[pri:0, instance:com.EG2.mainscript.InsertDelete16@5cee5251]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="a9a7fe">  <td>18/11/29 20:07:36</td>   <td>81</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InsertDelete17.delete()[pri:0, instance:com.EG2.mainscript.InsertDelete17@21507a04]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="996c7e">  <td>18/11/29 20:07:36</td>   <td>88</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UpdateAffiliation.delete()[pri:0, instance:com.EG2.Editorend.UpdateAffiliation@50a7bc6e]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="b67094">  <td>18/11/29 20:07:36</td>   <td>96</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EdInsertDelete2.delete()[pri:0, instance:com.EG2.Editorend.EdInsertDelete2@6ab7a896]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="867862">  <td>18/11/29 20:07:36</td>   <td>98</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Deletion4.delete()[pri:0, instance:com.EG2.mainscript.Deletion4@6b419da]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="9da28c">  <td>18/11/29 20:07:36</td>   <td>99</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EdInsertDelete3.delete()[pri:0, instance:com.EG2.Editorend.EdInsertDelete3@7f1302d6]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="848c81">  <td>18/11/29 20:07:36</td>   <td>101</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Deletion3.delete()[pri:0, instance:com.EG2.mainscript.Deletion3@60704c]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="8675e1">  <td>18/11/29 20:07:36</td>   <td>103</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Deletion6.delete()[pri:0, instance:com.EG2.mainscript.Deletion6@5e316c74]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="66e06f">  <td>18/11/29 20:07:36</td>   <td>105</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EdInsertDelete1.delete()[pri:0, instance:com.EG2.Editorend.EdInsertDelete1@6b19b79]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="e262ad">  <td>18/11/29 20:07:36</td>   <td>108</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Deletion5.delete()[pri:0, instance:com.EG2.mainscript.Deletion5@45018215]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="72da94">  <td>18/11/29 20:07:36</td>   <td>112</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Deletion8.delete()[pri:0, instance:com.EG2.mainscript.Deletion8@3b2da18f]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="6c8d86">  <td>18/11/29 20:07:36</td>   <td>114</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Deletion7.delete()[pri:0, instance:com.EG2.mainscript.Deletion7@17c1bced]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="9fcdb0">  <td>18/11/29 20:07:36</td>   <td>116</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Deletion9.delete()[pri:0, instance:com.EG2.mainscript.Deletion9@3745e5c6]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="71a7d0">  <td>18/11/29 20:07:36</td>   <td>117</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EdInsertDelete8.delete()[pri:0, instance:com.EG2.Editorend.EdInsertDelete8@7ee955a8]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="98927c">  <td>18/11/29 20:07:36</td>   <td>119</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EdInsertDelete9.delete()[pri:0, instance:com.EG2.Editorend.EdInsertDelete9@780cb77]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="d7f7e0">  <td>18/11/29 20:07:36</td>   <td>121</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EdInsertDelete6.delete()[pri:0, instance:com.EG2.Editorend.EdInsertDelete6@16e7dcfd]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="c6e487">  <td>18/11/29 20:07:36</td>   <td>123</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EdInsertDelete7.delete()[pri:0, instance:com.EG2.Editorend.EdInsertDelete7@3901d134]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="676868">  <td>18/11/29 20:07:36</td>   <td>126</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EdInsertDelete4.delete()[pri:0, instance:com.EG2.Editorend.EdInsertDelete4@6ce139a4]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="85cb86">  <td>18/11/29 20:07:36</td>   <td>128</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Deletion2.delete()[pri:0, instance:com.EG2.mainscript.Deletion2@fdefd3f]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="96a8a1">  <td>18/11/29 20:07:36</td>   <td>130</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EdInsertDelete5.delete()[pri:0, instance:com.EG2.Editorend.EdInsertDelete5@37e547da]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="c4717c">  <td>18/11/29 20:07:36</td>   <td>133</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Deletion1.delete()[pri:0, instance:com.EG2.mainscript.Deletion1@56528192]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="7af3c0">  <td>18/11/29 20:07:36</td>   <td>175</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InsertDelete5.delete()[pri:0, instance:com.EG2.mainscript.InsertDelete5@6e0dec4a]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="8bd765">  <td>18/11/29 20:07:36</td>   <td>190</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InsertDelete6.delete()[pri:0, instance:com.EG2.mainscript.InsertDelete6@7219ec67]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="9abfd2">  <td>18/11/29 20:07:36</td>   <td>193</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InsertDelete7.delete()[pri:0, instance:com.EG2.mainscript.InsertDelete7@20d28811]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="a2da80">  <td>18/11/29 20:07:36</td>   <td>196</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InsertDelete8.delete()[pri:0, instance:com.EG2.mainscript.InsertDelete8@327b636c]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="d3b267">  <td>18/11/29 20:07:36</td>   <td>198</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InsertDelete1.delete()[pri:0, instance:com.EG2.mainscript.InsertDelete1@670002]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="7bdc87">  <td>18/11/29 20:07:36</td>   <td>200</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InsertDelete2.delete()[pri:0, instance:com.EG2.mainscript.InsertDelete2@11a9e7c8]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="7274d2">  <td>18/11/29 20:07:36</td>   <td>203</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InsertDelete3.delete()[pri:0, instance:com.EG2.mainscript.InsertDelete3@7c469c48]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="c1a09d">  <td>18/11/29 20:07:36</td>   <td>204</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InsertDelete4.delete()[pri:0, instance:com.EG2.mainscript.InsertDelete4@363ee3a2]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="b0b186">  <td>18/11/29 20:07:36</td>   <td>206</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InsertDelete9.delete()[pri:0, instance:com.EG2.mainscript.InsertDelete9@222114ba]">delete</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="63f8b2">  <td>18/11/29 19:57:33</td>   <td>-602532</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DeletiontableRowtext.deleterow()[pri:0, instance:com.EG2.mainscript.DeletiontableRowtext@d706f19]">deleterow</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="7fc37a">  <td>18/11/29 20:07:36</td>   <td>15</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Equation1.equation()[pri:0, instance:com.EG2.mainscript.Equation1@4278a03f]">equation</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="c8a2c0">  <td>18/11/29 18:31:14</td>   <td>-5782195</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewAbstractInsertion.insert()[pri:0, instance:com.EG2.mainscript.NewAbstractInsertion@55ca8de8]">insert</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="aa8ea6">  <td>18/11/29 18:47:38</td>   <td>-4797891</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EdNewParaInsertion.insert()[pri:0, instance:com.EG2.Editorend.EdNewParaInsertion@5a955565]">insert</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="86f9d5">  <td>18/11/29 19:00:23</td>   <td>-4033082</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EdNewFigurensertion.insert()[pri:0, instance:com.EG2.Editorend.EdNewFigurensertion@78b1cc93]">insert</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="6067f4">  <td>18/11/29 19:16:16</td>   <td>-3079545</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EdNewContactnsertion.insert()[pri:0, instance:com.EG2.Editorend.EdNewContactnsertion@63a65a25]">insert</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="83a273">  <td>18/11/29 19:47:31</td>   <td>-1205282</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewFigurensertion.insert()[pri:0, instance:com.EG2.mainscript.NewFigurensertion@358ee631]">insert</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="b1d79b">  <td>18/11/29 19:47:31</td>   <td>-1205271</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Orcid1.insert()[pri:0, instance:com.EG2.mainscript.Orcid1@223f3642]">insert</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="7e9768">  <td>18/11/29 19:52:32</td>   <td>-903629</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EdNewAbstractInsertion.insert()[pri:0, instance:com.EG2.Editorend.EdNewAbstractInsertion@43ee72e6]">insert</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="627e6c">  <td>18/11/29 19:57:33</td>   <td>-602537</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Orcid2.insert()[pri:0, instance:com.EG2.mainscript.Orcid2@1fe20588]">insert</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="7c896d">  <td>18/11/29 20:02:35</td>   <td>-301435</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OrcidRemove2.insert()[pri:0, instance:com.EG2.mainscript.OrcidRemove2@6973bf95]">insert</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="76af84">  <td>18/11/29 20:02:35</td>   <td>-301432</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewContactnsertion.insert()[pri:0, instance:com.EG2.mainscript.NewContactnsertion@358c99f5]">insert</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="9788f3">  <td>18/11/29 20:02:35</td>   <td>-301428</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EdNewFundingInsertion.insert()[pri:0, instance:com.EG2.Editorend.EdNewFundingInsertion@2aa3cd93]">insert</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="9af799">  <td>18/11/29 20:02:35</td>   <td>-301426</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OrcidRemove1.insert()[pri:0, instance:com.EG2.mainscript.OrcidRemove1@214b199c]">insert</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="8b976c">  <td>18/11/29 20:02:35</td>   <td>-301412</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EdNewTableInsertion.insert()[pri:0, instance:com.EG2.Editorend.EdNewTableInsertion@18ce0030]">insert</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="d7747f">  <td>18/11/29 20:02:35</td>   <td>-301351</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTableInsertion2.insert()[pri:0, instance:com.EG2.mainscript.NewTableInsertion2@6d2a209c]">insert</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="71c76a">  <td>18/11/29 20:02:35</td>   <td>-301344</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewFundingInsertion.insert()[pri:0, instance:com.EG2.mainscript.NewFundingInsertion@548a102f]">insert</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="a2a2ce">  <td>18/11/29 20:02:35</td>   <td>-301326</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddOcid1.insert()[pri:0, instance:com.EG2.Editorend.AddOcid1@6156496]">insert</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="d282e0">  <td>18/11/29 20:02:35</td>   <td>-301296</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Formopen2.insert()[pri:0, instance:com.EG2.mainscript.Formopen2@3ee0fea4]">insert</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="a16370">  <td>18/11/29 20:02:35</td>   <td>-301294</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Formopen1.insert()[pri:0, instance:com.EG2.mainscript.Formopen1@3b938003]">insert</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="a38a68">  <td>18/11/29 20:02:35</td>   <td>-301273</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Formopen7.insert()[pri:0, instance:com.EG2.mainscript.Formopen7@4034c28c]">insert</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="bd946d">  <td>18/11/29 20:02:35</td>   <td>-301260</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Formopen6.insert()[pri:0, instance:com.EG2.mainscript.Formopen6@6193932a]">insert</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="69bdf3">  <td>18/11/29 20:02:35</td>   <td>-301249</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Formopen5.insert()[pri:0, instance:com.EG2.mainscript.Formopen5@19d37183]">insert</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="9fbc6d">  <td>18/11/29 20:02:35</td>   <td>-301244</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Formopen4.insert()[pri:0, instance:com.EG2.mainscript.Formopen4@71c8becc]">insert</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="eabab4">  <td>18/11/29 20:02:35</td>   <td>-301223</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Formopen3.insert()[pri:0, instance:com.EG2.mainscript.Formopen3@29176cc1]">insert</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="aaea95">  <td>18/11/29 20:07:36</td>   <td>-53</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EdNewTableInsertion2.insert()[pri:0, instance:com.EG2.Editorend.EdNewTableInsertion2@15761df8]">insert</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="cfa8b7">  <td>18/11/29 20:07:36</td>   <td>-33</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewParaInsertion.insert()[pri:0, instance:com.EG2.mainscript.NewParaInsertion@2b6856dd]">insert</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="9b62af">  <td>18/11/29 20:07:36</td>   <td>-31</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EdAppendixInsertion.insert()[pri:0, instance:com.EG2.Editorend.EdAppendixInsertion@60dcc9fe]">insert</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="dd8682">  <td>18/11/29 20:07:36</td>   <td>-30</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EdBox1Insertion.insert()[pri:0, instance:com.EG2.Editorend.EdBox1Insertion@3a079870]">insert</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="f888d7">  <td>18/11/29 20:07:36</td>   <td>30</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTableInsertion.insert()[pri:0, instance:com.EG2.mainscript.NewTableInsertion@233fe9b6]">insert</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="606c6b">  <td>18/11/29 20:07:36</td>   <td>82</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Insertion1Greencolor.insert()[pri:0, instance:com.EG2.mainscript.Insertion1Greencolor@124c278f]">insert</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="6be2c3">  <td>18/11/29 20:07:36</td>   <td>147</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ItalicText3.italic()[pri:0, instance:com.EG2.mainscript.ItalicText3@69930714]">italic</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="76c8cd">  <td>18/11/29 18:46:17</td>   <td>-4878641</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EdDeletetexttable2.link()[pri:0, instance:com.EG2.Editorend.EdDeletetexttable2@1198b989]">link</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="629278">  <td>18/11/29 20:02:35</td>   <td>-301415</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Deletetexttable.link()[pri:0, instance:com.EG2.mainscript.Deletetexttable@23529fee]">link</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="aa7dd4">  <td>18/11/29 20:02:35</td>   <td>-301313</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EdDeletetexttable.link()[pri:0, instance:com.EG2.Editorend.EdDeletetexttable@d4342c2]">link</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="95b596">  <td>18/11/29 20:02:35</td>   <td>-301288</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddTextTableColhead.link()[pri:0, instance:com.EG2.mainscript.AddTextTableColhead@7d3a22a9]">link</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="f084a8">  <td>18/11/29 20:02:35</td>   <td>-301195</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Deletetexttable2.link()[pri:0, instance:com.EG2.mainscript.Deletetexttable2@7fc229ab]">link</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="68b9a4">  <td>18/11/29 18:30:16</td>   <td>-5839690</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Linkopen4.openlink(java.lang.String)[pri:0, instance:com.EG2.mainscript.NewAbstractInsertion@55ca8de8]">&gt;&gt;openlink</td> 
<td>&nbsp;</td>  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="b0d1b6">  <td>18/11/29 18:31:25</td>   <td>-5771375</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Linkopen3.openlink(java.lang.String)[pri:0, instance:com.EG2.mainscript.History@8909f18]">&gt;&gt;openlink</td> 
<td>&nbsp;</td>  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="9a9374">  <td>18/11/29 18:33:01</td>   <td>-5675175</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Linkopen6.openlink(java.lang.String)[pri:0, instance:com.EG2.Editorend.EdDeleteFigCaption2@48aaecc3]">&gt;&gt;openlink</td> 
<td>&nbsp;</td>  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="9a9374">  <td>18/11/29 18:34:04</td>   <td>-5612134</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Linkopen6.openlink(java.lang.String)[pri:0, instance:com.EG2.Editorend.EdDeleteFigCaption1@769e7ee8]">&gt;&gt;openlink</td> 
<td>&nbsp;</td>  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="b0d1b6">  <td>18/11/29 18:35:33</td>   <td>-5523214</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Linkopen3.openlink(java.lang.String)[pri:0, instance:com.EG2.mainscript.Author_Name_Comment@1f0f1111]">&gt;&gt;openlink</td> 
<td>&nbsp;</td>  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="9a9374">  <td>18/11/29 18:37:06</td>   <td>-5430227</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Linkopen6.openlink(java.lang.String)[pri:0, instance:com.EG2.Editorend.EdDeletion7@e50a6f6]">&gt;&gt;openlink</td> 
<td>&nbsp;</td>  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="9a9374">  <td>18/11/29 18:38:12</td>   <td>-5363895</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Linkopen6.openlink(java.lang.String)[pri:0, instance:com.EG2.Editorend.EdDeletion6@5c909414]">&gt;&gt;openlink</td> 
<td>&nbsp;</td>  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="9a9374">  <td>18/11/29 18:39:16</td>   <td>-5299568</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Linkopen6.openlink(java.lang.String)[pri:0, instance:com.EG2.Editorend.EdDeletion9@161479c6]">&gt;&gt;openlink</td> 
<td>&nbsp;</td>  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="9a9374">  <td>18/11/29 18:40:46</td>   <td>-5210404</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Linkopen6.openlink(java.lang.String)[pri:0, instance:com.EG2.Editorend.EdDeletion8@240237d2]">&gt;&gt;openlink</td> 
<td>&nbsp;</td>  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="b0d1b6">  <td>18/11/29 18:41:53</td>   <td>-5142738</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Linkopen3.openlink(java.lang.String)[pri:0, instance:com.EG2.mainscript.References_Comment@3d121db3]">&gt;&gt;openlink</td> 
<td>&nbsp;</td>  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="b0d1b6">  <td>18/11/29 18:43:30</td>   <td>-5045636</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Linkopen3.openlink(java.lang.String)[pri:0, instance:com.EG2.mainscript.Copyright_Line@7f010382]">&gt;&gt;openlink</td> 
<td>&nbsp;</td>  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="9a9374">  <td>18/11/29 18:45:05</td>   <td>-4950721</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Linkopen6.openlink(java.lang.String)[pri:0, instance:com.EG2.Editorend.EdDeletetexttable2@1198b989]">&gt;&gt;openlink</td> 
<td>&nbsp;</td>  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="8c72c2">  <td>18/11/29 18:46:35</td>   <td>-4861359</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Linkopen9.openlink(java.lang.String)[pri:0, instance:com.EG2.Editorend.EdNewParaInsertion@5a955565]">&gt;&gt;openlink</td> 
<td>&nbsp;</td>  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="9379b6">  <td>18/11/29 18:47:50</td>   <td>-4785676</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Linkopen8.openlink(java.lang.String)[pri:0, instance:com.EG2.mainscript.DeleteAbstract2@7a4ccb53]">&gt;&gt;openlink</td> 
<td>&nbsp;</td>  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="9a9374">  <td>18/11/29 18:51:02</td>   <td>-4593935</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Linkopen6.openlink(java.lang.String)[pri:0, instance:com.EG2.Editorend.EdDeleteParagraph1@2c34f934]">&gt;&gt;openlink</td> 
<td>&nbsp;</td>  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="9a9374">  <td>18/11/29 18:52:53</td>   <td>-4483330</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Linkopen6.openlink(java.lang.String)[pri:0, instance:com.EG2.Editorend.EdDeleteParagraph2@23282c25]">&gt;&gt;openlink</td> 
<td>&nbsp;</td>  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="71d0d8">  <td>18/11/29 18:55:59</td>   <td>-4297034</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Linkopen7.openlink(java.lang.String)[pri:0, instance:com.EG2.mainscript.DeleteAbstract1@5ef60048]">&gt;&gt;openlink</td> 
<td>&nbsp;</td>  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="8c72c2">  <td>18/11/29 18:58:42</td>   <td>-4133568</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Linkopen9.openlink(java.lang.String)[pri:0, instance:com.EG2.Editorend.PEHeadInsertdelete1@258e2e41]">&gt;&gt;openlink</td> 
<td>&nbsp;</td>  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="8c72c2">  <td>18/11/29 18:59:42</td>   <td>-4073492</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Linkopen9.openlink(java.lang.String)[pri:0, instance:com.EG2.Editorend.EdNewFigurensertion@78b1cc93]">&gt;&gt;openlink</td> 
<td>&nbsp;</td>  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="9a9374">  <td>18/11/29 19:00:46</td>   <td>-4009497</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Linkopen6.openlink(java.lang.String)[pri:0, instance:com.EG2.Editorend.EdInsertDelete22@501edcf1]">&gt;&gt;openlink</td> 
<td>&nbsp;</td>  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="aa8ec7">  <td>18/11/29 19:01:55</td>   <td>-3941335</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Linkopen10.openlink(java.lang.String)[pri:0, instance:com.EG2.Editorend.EdInsertDelete23@12d4bf7e]">&gt;&gt;openlink</td> 
<td>&nbsp;</td>  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="9a9374">  <td>18/11/29 19:02:56</td>   <td>-3879709</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Linkopen6.openlink(java.lang.String)[pri:0, instance:com.EG2.Editorend.EdInsertDelete20@163e4e87]">&gt;&gt;openlink</td> 
<td>&nbsp;</td>  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="9a9374">  <td>18/11/29 19:04:00</td>   <td>-3816046</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Linkopen6.openlink(java.lang.String)[pri:0, instance:com.EG2.Editorend.EdInsertDelete21@43301423]">&gt;&gt;openlink</td> 
<td>&nbsp;</td>  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="8c72c2">  <td>18/11/29 19:05:01</td>   <td>-3755028</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Linkopen9.openlink(java.lang.String)[pri:0, instance:com.EG2.Editorend.PEHeadInsertdelete8@2ed0fbae]">&gt;&gt;openlink</td> 
<td>&nbsp;</td>  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="8c72c2">  <td>18/11/29 19:05:56</td>   <td>-3699697</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Linkopen9.openlink(java.lang.String)[pri:0, instance:com.EG2.Editorend.PEHeadInsertdelete9@add0edd]">&gt;&gt;openlink</td> 
<td>&nbsp;</td>  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="8c72c2">  <td>18/11/29 19:06:50</td>   <td>-3645883</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Linkopen9.openlink(java.lang.String)[pri:0, instance:com.EG2.Editorend.PEHeadInsertdelete6@79b06cab]">&gt;&gt;openlink</td> 
<td>&nbsp;</td>  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="7666ad">  <td>18/11/29 19:07:42</td>   <td>-3593806</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Linkopen5.openlink(java.lang.String)[pri:0, instance:com.EG2.mainscript.DeleteTableLabel2@23f7d05d]">&gt;&gt;openlink</td> 
<td>&nbsp;</td>  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="7666ad">  <td>18/11/29 19:08:50</td>   <td>-3526033</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Linkopen5.openlink(java.lang.String)[pri:0, instance:com.EG2.mainscript.InsertSpclcharacter2@436a4e4b]">&gt;&gt;openlink</td> 
<td>&nbsp;</td>  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="8c72c2">  <td>18/11/29 19:09:38</td>   <td>-3477991</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Linkopen9.openlink(java.lang.String)[pri:0, instance:com.EG2.Editorend.PEHeadInsertdelete7@2805c96b]">&gt;&gt;openlink</td> 
<td>&nbsp;</td>  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="8c72c2">  <td>18/11/29 19:10:32</td>   <td>-3424155</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Linkopen9.openlink(java.lang.String)[pri:0, instance:com.EG2.Editorend.PEHeadInsertdelete4@1a84f40f]">&gt;&gt;openlink</td> 
<td>&nbsp;</td>  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="8c72c2">  <td>18/11/29 19:11:28</td>   <td>-3368153</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Linkopen9.openlink(java.lang.String)[pri:0, instance:com.EG2.Editorend.PEHeadInsertdelete5@53ca01a2]">&gt;&gt;openlink</td> 
<td>&nbsp;</td>  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="7666ad">  <td>18/11/29 19:12:18</td>   <td>-3317509</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Linkopen5.openlink(java.lang.String)[pri:0, instance:com.EG2.mainscript.DeleteTableLabel1@4fe767f3]">&gt;&gt;openlink</td> 
<td>&nbsp;</td>  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="8c72c2">  <td>18/11/29 19:13:22</td>   <td>-3254121</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Linkopen9.openlink(java.lang.String)[pri:0, instance:com.EG2.Editorend.PEHeadInsertdelete2@3d299e3]">&gt;&gt;openlink</td> 
<td>&nbsp;</td>  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="8c72c2">  <td>18/11/29 19:14:31</td>   <td>-3185044</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Linkopen9.openlink(java.lang.String)[pri:0, instance:com.EG2.Editorend.PEHeadInsertdelete3@56de5251]">&gt;&gt;openlink</td> 
<td>&nbsp;</td>  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="8c72c2">  <td>18/11/29 19:15:38</td>   <td>-3118458</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Linkopen9.openlink(java.lang.String)[pri:0, instance:com.EG2.Editorend.EdNewContactnsertion@63a65a25]">&gt;&gt;openlink</td> 
<td>&nbsp;</td>  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="9a9374">  <td>18/11/29 19:16:42</td>   <td>-3053593</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Linkopen6.openlink(java.lang.String)[pri:0, instance:com.EG2.Editorend.EdInsertDelete19@4b5a5ed1]">&gt;&gt;openlink</td> 
<td>&nbsp;</td>  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="9a9374">  <td>18/11/29 19:17:41</td>   <td>-2995005</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Linkopen6.openlink(java.lang.String)[pri:0, instance:com.EG2.Editorend.EdInsertDelete17@2aa5fe93]">&gt;&gt;openlink</td> 
<td>&nbsp;</td>  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="9a9374">  <td>18/11/29 19:18:45</td>   <td>-2931067</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Linkopen6.openlink(java.lang.String)[pri:0, instance:com.EG2.Editorend.EdInsertDelete18@4445629]">&gt;&gt;openlink</td> 
<td>&nbsp;</td>  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="9a9374">  <td>18/11/29 19:19:48</td>   <td>-2868180</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Linkopen6.openlink(java.lang.String)[pri:0, instance:com.EG2.Editorend.EdInsertDelete15@3cc2931c]">&gt;&gt;openlink</td> 
<td>&nbsp;</td>  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="9a9374">  <td>18/11/29 19:20:45</td>   <td>-2811117</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Linkopen6.openlink(java.lang.String)[pri:0, instance:com.EG2.Editorend.EdInsertDelete16@5ccddd20]">&gt;&gt;openlink</td> 
<td>&nbsp;</td>  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="68b9a4">  <td>18/11/29 19:21:38</td>   <td>-2757580</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Linkopen4.openlink(java.lang.String)[pri:0, instance:com.EG2.mainscript.AbstractHead@11dc3715]">&gt;&gt;openlink</td> 
<td>&nbsp;</td>  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="aa8ec7">  <td>18/11/29 19:23:35</td>   <td>-2641254</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Linkopen10.openlink(java.lang.String)[pri:0, instance:com.EG2.Editorend.EdInsertDelete13@647fd8ce]">&gt;&gt;openlink</td> 
<td>&nbsp;</td>  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="9a9374">  <td>18/11/29 19:28:36</td>   <td>-2339889</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Linkopen6.openlink(java.lang.String)[pri:0, instance:com.EG2.Editorend.EdInsertDelete14@b62fe6d]">&gt;&gt;openlink</td> 
<td>&nbsp;</td>  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="b0d1b6">  <td>18/11/29 19:32:27</td>   <td>-2108531</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Linkopen3.openlink(java.lang.String)[pri:0, instance:com.EG2.mainscript.Conclusion_Heading@475e586c]">&gt;&gt;openlink</td> 
<td>&nbsp;</td>  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="7666ad">  <td>18/11/29 19:37:28</td>   <td>-1807488</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Linkopen5.openlink(java.lang.String)[pri:0, instance:com.EG2.mainscript.AQDeletion8@7692d9cc]">&gt;&gt;openlink</td> 
<td>&nbsp;</td>  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="68b9a4">  <td>18/11/29 19:42:30</td>   <td>-1506384</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Linkopen4.openlink(java.lang.String)[pri:0, instance:com.EG2.mainscript.AQDeletion4@33afa13b]">&gt;&gt;openlink</td> 
<td>&nbsp;</td>  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="8c72c2">  <td>18/11/29 19:47:31</td>   <td>-1205259</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Linkopen9.openlink(java.lang.String)[pri:0, instance:com.EG2.Editorend.EdNewAbstractInsertion@43ee72e6]">&gt;&gt;openlink</td> 
<td>&nbsp;</td>  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="a778df">  <td>18/11/29 19:52:32</td>   <td>-903620</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Linkopen14.openlink(java.lang.String)[pri:0, instance:com.EG2.mainscript.Orcid2@1fe20588]">&gt;&gt;openlink</td> 
<td>&nbsp;</td>  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="b7e5df">  <td>18/11/29 19:57:33</td>   <td>-602531</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Linkopen13.openlink(java.lang.String)[pri:0, instance:com.EG2.mainscript.OrcidRemove2@6973bf95]">&gt;&gt;openlink</td> 
<td>&nbsp;</td>  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="9379b6">  <td>18/11/29 20:02:35</td>   <td>-301189</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Linkopen8.openlink(java.lang.String)[pri:0, instance:com.EG2.mainscript.Attachement@49c386c8]">&gt;&gt;openlink</td> 
<td>&nbsp;</td>  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="d9a694">  <td>18/11/29 20:02:35</td>   <td>-301210</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RightPanel2.rightpanel()[pri:0, instance:com.EG2.mainscript.RightPanel2@7adda9cc]">rightpanel</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="a96097">  <td>18/11/29 20:02:35</td>   <td>-301208</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RightPanel1.rightpanel()[pri:0, instance:com.EG2.mainscript.RightPanel1@3bd40a57]">rightpanel</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="a9f8ae">  <td>18/11/29 20:02:35</td>   <td>-301205</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RightPanel4.rightpanel()[pri:0, instance:com.EG2.mainscript.RightPanel4@22635ba0]">rightpanel</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="90f889">  <td>18/11/29 20:02:35</td>   <td>-301203</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RightPanel3.rightpanel()[pri:0, instance:com.EG2.mainscript.RightPanel3@78aab498]">rightpanel</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="88e880">  <td>18/11/29 20:02:35</td>   <td>-301202</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RightPanel6.rightpanel()[pri:0, instance:com.EG2.mainscript.RightPanel6@12b0404f]">rightpanel</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="a967b8">  <td>18/11/29 20:02:35</td>   <td>-301200</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RightPanel5.rightpanel()[pri:0, instance:com.EG2.mainscript.RightPanel5@25a65b77]">rightpanel</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="7df177">  <td>18/11/29 20:02:35</td>   <td>-301199</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RightPanel8.rightpanel()[pri:0, instance:com.EG2.mainscript.RightPanel8@61dd025]">rightpanel</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="6fa7ad">  <td>18/11/29 20:02:35</td>   <td>-301197</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RightPanel7.rightpanel()[pri:0, instance:com.EG2.mainscript.RightPanel7@2fd6b6c7]">rightpanel</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="a4bd7f">  <td>18/11/29 20:07:36</td>   <td>85</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Left_Panel5.searchbutton()[pri:0, instance:com.EG2.mainscript.Left_Panel5@7920ba90]">searchbutton</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="9fb566">  <td>18/11/29 20:07:36</td>   <td>89</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Left_Panel3.searchbutton()[pri:0, instance:com.EG2.mainscript.Left_Panel3@27ae2fd0]">searchbutton</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="a0b878">  <td>18/11/29 20:07:36</td>   <td>91</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Left_Panel4.searchbutton()[pri:0, instance:com.EG2.mainscript.Left_Panel4@143640d5]">searchbutton</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="acb08a">  <td>18/11/29 20:07:36</td>   <td>93</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Left_Panel1.searchbutton()[pri:0, instance:com.EG2.mainscript.Left_Panel1@6ac13091]">searchbutton</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="b48381">  <td>18/11/29 20:07:36</td>   <td>94</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Left_Panel2.searchbutton()[pri:0, instance:com.EG2.mainscript.Left_Panel2@318ba8c8]">searchbutton</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="ceda84">  <td>18/11/29 19:47:31</td>   <td>-1205269</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="shortcutkey3.shortcut()[pri:0, instance:com.EG2.mainscript.shortcutkey3@13c10b87]">shortcut</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="a0cd94">  <td>18/11/29 20:02:35</td>   <td>-301213</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Shortcutkey9.shortcut()[pri:0, instance:com.EG2.mainscript.Shortcutkey9@2b6faea6]">shortcut</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="a168b8">  <td>18/11/29 20:02:35</td>   <td>-301212</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Shortcutkey8.shortcut()[pri:0, instance:com.EG2.mainscript.Shortcutkey8@4386f16]">shortcut</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="8df37b">  <td>18/11/29 20:02:35</td>   <td>-301192</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ShortcutKey6.shortcut()[pri:0, instance:com.EG2.mainscript.ShortcutKey6@6dbb137d]">shortcut</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="81ae9f">  <td>18/11/29 20:07:36</td>   <td>-59</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Shortcutkey1.shortcut()[pri:0, instance:com.EG2.mainscript.Shortcutkey1@51e5fc98]">shortcut</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="838e9f">  <td>18/11/29 20:07:36</td>   <td>-58</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Shortcutkey2.shortcut()[pri:0, instance:com.EG2.mainscript.Shortcutkey2@5762806e]">shortcut</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="8c93a1">  <td>18/11/29 20:07:36</td>   <td>-56</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Shortcutkey5.shortcut()[pri:0, instance:com.EG2.mainscript.Shortcutkey5@77167fb7]">shortcut</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="a6aa74">  <td>18/11/29 20:07:36</td>   <td>-55</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Shortcutkey4.shortcut()[pri:0, instance:com.EG2.mainscript.Shortcutkey4@6f3b5d16]">shortcut</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="fee8e7">  <td>18/11/29 20:07:36</td>   <td>-50</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Shortcutkey7.shortcut()[pri:0, instance:com.EG2.mainscript.Shortcutkey7@3c87521]">shortcut</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="727a61">  <td>18/11/29 20:07:36</td>   <td>-9</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Shortcutkey10.shortcut()[pri:0, instance:com.EG2.mainscript.Shortcutkey10@229d10bd]">shortcut</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="baf4f0">  <td>18/11/29 20:07:36</td>   <td>-7</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Shortcutkey12.shortcut()[pri:0, instance:com.EG2.mainscript.Shortcutkey12@7b227d8d]">shortcut</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="beb599">  <td>18/11/29 20:07:36</td>   <td>-4</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Shortcutkey11.shortcut()[pri:0, instance:com.EG2.mainscript.Shortcutkey11@5db250b4]">shortcut</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="a1689d">  <td>18/11/29 20:07:36</td>   <td>-2</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Shortcutkey13.shortcut()[pri:0, instance:com.EG2.mainscript.Shortcutkey13@79ad8b2f]">shortcut</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="dba6f9">  <td>18/11/29 19:47:31</td>   <td>-1205304</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Subscript.subscript()[pri:0, instance:com.EG2.mainscript.Subscript@184cf7cf]">subscript</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="9e76fd">  <td>18/11/29 20:02:35</td>   <td>-301305</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Superscript3.superscript()[pri:0, instance:com.EG2.mainscript.Superscript3@1677d1]">superscript</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="dba097">  <td>18/11/29 18:59:22</td>   <td>-4094104</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PEHeadInsertdelete1.title()[pri:0, instance:com.EG2.Editorend.PEHeadInsertdelete1@258e2e41]">title</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="78a36e">  <td>18/11/29 19:05:40</td>   <td>-3715614</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PEHeadInsertdelete8.title()[pri:0, instance:com.EG2.Editorend.PEHeadInsertdelete8@2ed0fbae]">title</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="6a64ae">  <td>18/11/29 19:06:35</td>   <td>-3660729</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PEHeadInsertdelete9.title()[pri:0, instance:com.EG2.Editorend.PEHeadInsertdelete9@add0edd]">title</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="ceb190">  <td>18/11/29 19:07:29</td>   <td>-3607254</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PEHeadInsertdelete6.title()[pri:0, instance:com.EG2.Editorend.PEHeadInsertdelete6@79b06cab]">title</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="dbb0c5">  <td>18/11/29 19:10:17</td>   <td>-3438514</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PEHeadInsertdelete7.title()[pri:0, instance:com.EG2.Editorend.PEHeadInsertdelete7@2805c96b]">title</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="678e9f">  <td>18/11/29 19:11:11</td>   <td>-3384876</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PEHeadInsertdelete4.title()[pri:0, instance:com.EG2.Editorend.PEHeadInsertdelete4@1a84f40f]">title</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="7b6d8a">  <td>18/11/29 19:12:07</td>   <td>-3329006</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PEHeadInsertdelete5.title()[pri:0, instance:com.EG2.Editorend.PEHeadInsertdelete5@53ca01a2]">title</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="9494d8">  <td>18/11/29 19:14:01</td>   <td>-3214657</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PEHeadInsertdelete2.title()[pri:0, instance:com.EG2.Editorend.PEHeadInsertdelete2@3d299e3]">title</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="6786a3">  <td>18/11/29 19:15:10</td>   <td>-3146279</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PEHeadInsertdelete3.title()[pri:0, instance:com.EG2.Editorend.PEHeadInsertdelete3@56de5251]">title</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="a0a1cc">  <td>18/11/29 20:02:35</td>   <td>-301410</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PEHeadInsertdelete10.title()[pri:0, instance:com.EG2.Editorend.PEHeadInsertdelete10@45b9a632]">title</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="bb9ebb">  <td>18/11/29 20:02:35</td>   <td>-301408</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PEArtTitleInsertDelete3.title()[pri:0, instance:com.EG2.Editorend.PEArtTitleInsertDelete3@1e730495]">title</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="b3f598">  <td>18/11/29 20:02:35</td>   <td>-301404</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PEArtTitleInsertDelete4.title()[pri:0, instance:com.EG2.Editorend.PEArtTitleInsertDelete4@5ad851c9]">title</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="b4de6a">  <td>18/11/29 20:02:35</td>   <td>-301396</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PEArtTitleInsertDelete5.title()[pri:0, instance:com.EG2.Editorend.PEArtTitleInsertDelete5@1f3f4916]">title</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="8fbf62">  <td>18/11/29 20:02:35</td>   <td>-301392</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PEArtTitleInsertDelete6.title()[pri:0, instance:com.EG2.Editorend.PEArtTitleInsertDelete6@f8c1ddd]">title</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="68e9a7">  <td>18/11/29 20:02:35</td>   <td>-301390</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PEHeadInsertdelete11.title()[pri:0, instance:com.EG2.Editorend.PEHeadInsertdelete11@78e94dcf]">title</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="ecb3ba">  <td>18/11/29 20:02:35</td>   <td>-301386</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PEArtTitleInsertDelete1.title()[pri:0, instance:com.EG2.Editorend.PEArtTitleInsertDelete1@159f197]">title</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="cd898a">  <td>18/11/29 20:02:35</td>   <td>-301384</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PEArtTitleInsertDelete2.title()[pri:0, instance:com.EG2.Editorend.PEArtTitleInsertDelete2@1df82230]">title</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="b9e2b5">  <td>18/11/29 20:02:35</td>   <td>-301310</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UnderlineText.underline()[pri:0, instance:com.EG2.mainscript.UnderlineText@7995092a]">underline</td> 
  <td>main@128359175</td>   <td></td> </tr>
</table>
