<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Linkgeneration</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6e8f99">  <td>18/10/22 18:34:02</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Linkgeneration20.linkgenerate()[pri:0, instance:com.editgenie.testcases.Linkgeneration20@4b9e255]">linkgenerate</td> 
  <td>main@1678854096</td>   <td></td> </tr>
<tr bgcolor="74868d">  <td>18/10/22 18:34:54</td>   <td>51452</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Linkgeneration21.linkgenerate()[pri:0, instance:com.editgenie.testcases.Linkgeneration21@51b279c9]">linkgenerate</td> 
  <td>main@1678854096</td>   <td></td> </tr>
<tr bgcolor="c8a2c0">  <td>18/10/22 18:35:45</td>   <td>102808</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Linkgeneration22.linkgenerate()[pri:0, instance:com.editgenie.testcases.Linkgeneration22@2f8f5f62]">linkgenerate</td> 
  <td>main@1678854096</td>   <td></td> </tr>
<tr bgcolor="6e6aa2">  <td>18/10/22 18:36:38</td>   <td>156079</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Linkgeneration1.linkgenerate()[pri:0, instance:com.editgenie.testcases.Linkgeneration1@69379752]">linkgenerate</td> 
  <td>main@1678854096</td>   <td></td> </tr>
<tr bgcolor="b185bd">  <td>18/10/22 18:37:35</td>   <td>212814</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Linkgeneration3.linkgenerate()[pri:0, instance:com.editgenie.testcases.Linkgeneration3@27fe3806]">linkgenerate</td> 
  <td>main@1678854096</td>   <td></td> </tr>
<tr bgcolor="bf9d74">  <td>18/10/22 18:38:28</td>   <td>266097</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Linkgeneration2.linkgenerate()[pri:0, instance:com.editgenie.testcases.Linkgeneration2@43d7741f]">linkgenerate</td> 
  <td>main@1678854096</td>   <td></td> </tr>
<tr bgcolor="b6a261">  <td>18/10/22 18:39:22</td>   <td>319608</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Linkgeneration5.linkgenerate()[pri:0, instance:com.editgenie.testcases.Linkgeneration5@5e57643e]">linkgenerate</td> 
  <td>main@1678854096</td>   <td></td> </tr>
<tr bgcolor="607aaf">  <td>18/10/22 18:40:15</td>   <td>373164</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Linkgeneration4.linkgenerate()[pri:0, instance:com.editgenie.testcases.Linkgeneration4@1d7acb34]">linkgenerate</td> 
  <td>main@1678854096</td>   <td></td> </tr>
<tr bgcolor="8663d3">  <td>18/10/22 18:41:11</td>   <td>428812</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Linkgeneration8.linkgenerate()[pri:0, instance:com.editgenie.testcases.Linkgeneration8@4f51b3e0]">linkgenerate</td> 
  <td>main@1678854096</td>   <td></td> </tr>
<tr bgcolor="90a6be">  <td>18/10/22 18:42:03</td>   <td>481287</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Linkgeneration9.linkgenerate()[pri:0, instance:com.editgenie.testcases.Linkgeneration9@5f71c76a]">linkgenerate</td> 
  <td>main@1678854096</td>   <td></td> </tr>
<tr bgcolor="a8baa7">  <td>18/10/22 18:42:55</td>   <td>532563</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EdLinkgeneration1.linkgenerate()[pri:0, instance:com.editgenie.testcases.EdLinkgeneration1@48a242ce]">linkgenerate</td> 
  <td>main@1678854096</td>   <td></td> </tr>
<tr bgcolor="bbf683">  <td>18/10/22 18:43:39</td>   <td>576906</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EdLinkgeneration2.linkgenerate()[pri:0, instance:com.editgenie.testcases.EdLinkgeneration2@133e16fd]">linkgenerate</td> 
  <td>main@1678854096</td>   <td></td> </tr>
<tr bgcolor="c8817c">  <td>18/10/22 18:44:23</td>   <td>620775</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EdLinkgeneration3.linkgenerate()[pri:0, instance:com.editgenie.testcases.EdLinkgeneration3@1e4a7dd4]">linkgenerate</td> 
  <td>main@1678854096</td>   <td></td> </tr>
</table>
