<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9f758f">  <td>19/12/27 17:28:51</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ApplicationTest.startChromeBrowser(java.lang.String)[pri:0, instance:com.Assignment2.ApplicationTest@3116c353]">&gt;&gt;startChromeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1507118393</td>   <td></td> </tr>
<tr bgcolor="9f758f">  <td>19/12/27 17:29:37</td>   <td>45383</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ApplicationTest.test01()[pri:0, instance:com.Assignment2.ApplicationTest@3116c353]">test01</td> 
  <td>main@1507118393</td>   <td></td> </tr>
<tr bgcolor="9f758f">  <td>19/12/27 17:31:23</td>   <td>151665</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ApplicationTest.tearDown()[pri:0, instance:com.Assignment2.ApplicationTest@3116c353]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1507118393</td>   <td></td> </tr>
</table>
