<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Linkgenerationfirefox</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9f99ea">  <td>19/07/18 00:35:17</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Linkgeneration20.linkgenerate()[pri:0, instance:com.editgenie.testcases.Linkgeneration20@3bd94634]">linkgenerate</td> 
  <td>main@159259014</td>   <td></td> </tr>
<tr bgcolor="efef64">  <td>19/07/18 00:36:07</td>   <td>49704</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Linkgeneration21.linkgenerate()[pri:0, instance:com.editgenie.testcases.Linkgeneration21@58a90037]">linkgenerate</td> 
  <td>main@159259014</td>   <td></td> </tr>
<tr bgcolor="7fd0e6">  <td>19/07/18 00:37:00</td>   <td>102941</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Linkgeneration22.linkgenerate()[pri:0, instance:com.editgenie.testcases.Linkgeneration22@74294adb]">linkgenerate</td> 
  <td>main@159259014</td>   <td></td> </tr>
<tr bgcolor="c682b1">  <td>19/07/18 00:37:50</td>   <td>152670</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Linkgeneration1.linkgenerate()[pri:0, instance:com.editgenie.testcases.Linkgeneration1@70a9f84e]">linkgenerate</td> 
  <td>main@159259014</td>   <td></td> </tr>
<tr bgcolor="6fa38a">  <td>19/07/18 00:38:42</td>   <td>204102</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Linkgeneration3.linkgenerate()[pri:0, instance:com.editgenie.testcases.Linkgeneration3@130f889]">linkgenerate</td> 
  <td>main@159259014</td>   <td></td> </tr>
<tr bgcolor="a3ffec">  <td>19/07/18 00:39:33</td>   <td>255505</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Linkgeneration2.linkgenerate()[pri:0, instance:com.editgenie.testcases.Linkgeneration2@1188e820]">linkgenerate</td> 
  <td>main@159259014</td>   <td></td> </tr>
<tr bgcolor="caeb9e">  <td>19/07/18 00:40:25</td>   <td>307121</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Linkgeneration5.linkgenerate()[pri:0, instance:com.editgenie.testcases.Linkgeneration5@2f490758]">linkgenerate</td> 
  <td>main@159259014</td>   <td></td> </tr>
<tr bgcolor="e88b9c">  <td>19/07/18 00:41:17</td>   <td>359364</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Linkgeneration4.linkgenerate()[pri:0, instance:com.editgenie.testcases.Linkgeneration4@101df177]">linkgenerate</td> 
  <td>main@159259014</td>   <td></td> </tr>
<tr bgcolor="d86b78">  <td>19/07/18 00:42:09</td>   <td>411389</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Linkgeneration8.linkgenerate()[pri:0, instance:com.editgenie.testcases.Linkgeneration8@166fa74d]">linkgenerate</td> 
  <td>main@159259014</td>   <td></td> </tr>
<tr bgcolor="fdc0b0">  <td>19/07/18 00:43:00</td>   <td>462359</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Linkgeneration9.linkgenerate()[pri:0, instance:com.editgenie.testcases.Linkgeneration9@40f08448]">linkgenerate</td> 
  <td>main@159259014</td>   <td></td> </tr>
<tr bgcolor="ceaf6a">  <td>19/07/18 00:43:50</td>   <td>512682</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EdLinkgeneration1.linkgenerate()[pri:0, instance:com.editgenie.testcases.EdLinkgeneration1@276438c9]">linkgenerate</td> 
  <td>main@159259014</td>   <td></td> </tr>
<tr bgcolor="9a8684">  <td>19/07/18 00:45:34</td>   <td>616865</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EdLinkgeneration2.linkgenerate()[pri:0, instance:com.editgenie.testcases.EdLinkgeneration2@588df31b]">linkgenerate</td> 
  <td>main@159259014</td>   <td></td> </tr>
<tr bgcolor="9bd5b0">  <td>19/07/18 00:47:18</td>   <td>720554</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EdLinkgeneration3.linkgenerate()[pri:0, instance:com.editgenie.testcases.EdLinkgeneration3@33b37288]">linkgenerate</td> 
  <td>main@159259014</td>   <td></td> </tr>
</table>
